@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700);
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.clearFix:after {
  content: "";
  display: table;
  clear: both; }

/*
	 _                   __            _   
	(_) __  ___  _ _    / _| ___  _ _ | |_ 
	| |/ _|/ _ \| ' \  |  _|/ _ \| ' \|  _|
	|_|\__|\___/|_||_| |_|  \___/|_||_|\__|

*/
@font-face {
  font-family: 'icomoon';
  src: url("../fnt/icomoon.eot?-npddoi");
  src: url("../fnt/icomoon.eot?#iefix-npddoi") format("embedded-opentype"), url("../fnt/icomoon.woff?-npddoi") format("woff"), url("../fnt/icomoon.ttf?-npddoi") format("truetype"), url("../fnt/icomoon.svg?-npddoi#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
.title {
  color: #323e50;
  position: relative; }
  .title .icon, .title h2 {
    display: inline-block; }
  .title .icon {
    height: 1.5em;
    position: relative;
    width: 3.25em; }
  .title .icon:before {
    display: block;
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    line-height: 1;
    position: absolute;
    speak: none;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2.75em;
    left: 0;
    top: -0.2em; }

#about .intro.design .title .icon:before {
  content: "\e600"; }
#about .intro.development .title .icon:before {
  content: "\e601"; }
#about .intro.experience .title .icon:before {
  content: "\e602"; }
#about .intro.employment .title .icon:before {
  content: "\e603"; }

#work .intro .title .icon:before {
  content: "\e604"; }

#myHistory .intro .title .icon:before {
  content: "\e605"; }

#details .intro.contact .title .icon:before {
  content: "\e606"; }
#details .intro.references .title .icon:before {
  content: "\e607"; }
#details .phone .icon.dormant:before {
  content: "\e60f"; }
#details .phone .icon.active:before {
  content: "\e610"; }
#details .email .icon.dormant:before {
  content: "\e611"; }
#details .email .icon.active:before {
  content: "\e612"; }

#lightbox .close .icon.dormant:before {
  content: "\e606"; }
#lightbox .close .icon.active:before {
  content: "\e606"; }
#lightbox .icon-container .icon:before {
  content: "\e612" !important; }

.icon-icon-view:before {
  content: "\e608"; }

.icon-icon-previous-dormant:before {
  content: "\e609"; }

.icon-icon-previous-active:before {
  content: "\e60a"; }

.icon-icon-next-dormant:before {
  content: "\e60b"; }

.icon-icon-next-active:before {
  content: "\e60c"; }

.icon-icon-close-dormant:before {
  content: "\e60d"; }

.icon-icon-close-active:before {
  content: "\e60e"; }

/*
	              _       
	 _ __   __ _ (_) _ _  
	| '  \ / _` || || ' \ 
	|_|_|_|\__,_||_||_||_|

*/
html, body {
  height: 100%;
  width: 100%; }

body {
  color: #538ed9;
  font-family: "Roboto", sans-serif;
  font-weight: 300; }

h1, .h1 {
  font-color: white;
  font-size: 3.5em;
  font-weight: 100;
  margin: 0; }
  @media only screen and (min-width: 37.5em) {
    h1, .h1 {
      font-size: 5em; } }
  @media only screen and (min-width: 56.25em) {
    h1, .h1 {
      font-size: 7em; } }

h2, .h2 {
  font-size: 2em;
  font-weight: 100;
  margin: 0;
  padding: 0;
  position: relative;
  	/*&:before{
  		@include pseudo;
  		@include iconFont;
  		// background-color: rgba(gray, 0.2);
  		font-size: 1.5em;
  		// height: $width;
  		// left: 0;
  		// padding-top: 0.25em;
  		// top: 50%;
  		// transform: translateY(-50%);
  		// width: $width;
  	}
  
  	&.close, &.next{
  		padding: 0 ($width + 0.5em) 0 0;
  
  		&:before{
  			left: auto;
  			right: 0
  		}
  	}*/ }

h3, .h3 {
  color: #323e50;
  font-size: 1.5em;
  font-style: normal;
  font-weight: 100;
  margin: 0; }

h4, .h4 {
  font-size: 2em;
  font-weight: 100;
  margin: 0; }

.center {
  list-style-type: none;
  margin: 0 auto;
  padding: 0 5%;
  width: 100%; }
  @media only screen and (min-width: 80em) {
    .center {
      padding: 0;
      width: 75em; } }

.oneWord {
  white-space: nowrap; }

/*
	     _              _                  
	 ___| |_   __ _  __| | ___ __ __ __ ___
	(_-<| ' \ / _` |/ _` |/ _ \ V  V /(_-<
	/__/|_||_|\__,_|\__,_|\___/ \_/\_/ /__/
	                                       
*/
.shadowTop, .shadowBottom {
  height: 3em;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%; }
  .shadowTop:before, .shadowBottom:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    left: 0;
    width: 100%; }

.shadowTop:before {
  top: 100%; }

.shadowBottom:before {
  bottom: 100%; }

section, .shadowContainer {
  position: relative; }

#work > .shadowBottom, #myHistory > .shadowBottom {
  top: 0; }

#about .shadowTop, #work .shadowTop {
  bottom: 100%; }

#lightBox .shadowTop {
  bottom: 0; }
#lightBox .shadowBottom {
  top: 0; }

#work .shadowContainer .shadowTop, #myHistory .shadowContainer .shadowTop, #details .shadowContainer .shadowTop {
  bottom: 100%; }
  #work .shadowContainer .shadowTop:before, #myHistory .shadowContainer .shadowTop:before, #details .shadowContainer .shadowTop:before {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); }

/*
	                 _               _  _   
	 _ __  ___  _ _ | |_  _ _  __ _ (_)| |_ 
	| '_ \/ _ \| '_||  _|| '_|/ _` || ||  _|
	| .__/\___/|_|   \__||_|  \__,_||_| \__|
	|_|                                     

*/
#portraitBody, #portraitHands {
  left: 0%;
  position: absolute;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: auto; }
  @media only screen and (min-width: 23em) {
    #portraitBody, #portraitHands {
      left: 15%;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }
  @media only screen and (min-width: 37.5em) {
    #portraitBody, #portraitHands {
      left: 25%;
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0); } }
  @media only screen and (min-width: 56.25em) {
    #portraitBody, #portraitHands {
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); } }

#portraitBody {
  height: 40em;
  top: 0; }
  @media only screen and (min-width: 37.5em) {
    #portraitBody {
      height: 50em; } }
  @media only screen and (min-width: 56.25em) {
    #portraitBody {
      height: 70em; } }
  @media only screen and (min-width: 80em) {
    #portraitBody {
      height: 80em; } }

#portraitHands {
  height: 5em;
  top: -2.5em; }
  @media only screen and (min-width: 37.5em) {
    #portraitHands {
      height: 6.25em;
      top: -3.125em; } }
  @media only screen and (min-width: 56.25em) {
    #portraitHands {
      height: 8.75em;
      top: -4.375em; } }
  @media only screen and (min-width: 80em) {
    #portraitHands {
      height: 10em;
      top: -5em; } }

/*
           _                  _          _   _               _                                   _ 
 ___ __ __| |_  ___  _ _   __| | ___  __| | | |__  __ _  __ | |__ __ _  _ _  ___  _  _  _ _   __| |
/ -_)\ \ /|  _|/ -_)| ' \ / _` |/ -_)/ _` | | '_ \/ _` |/ _|| / // _` || '_|/ _ \| || || ' \ / _` |
\___|/_\_\ \__|\___||_||_|\__,_|\___|\__,_| |_.__/\__,_|\__||_\_\__, ||_|  \___/ \_,_||_||_|\__,_|
                                                                 |___/                                                                
	
*/
.extendedBg {
  background-color: #78ccfe;
  overflow-x: hidden;
  position: relative;
  z-index: -1; }
  .extendedBg:before, .extendedBg:after {
    content: "";
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    -webkit-background-size: 400%;
    background-size: 400%;
    height: 100%;
    opacity: 0.5;
    top: 0;
    width: 100%;
    z-index: -100; }
    @media only screen and (min-width: 23em) {
      .extendedBg:before, .extendedBg:after {
        -webkit-background-size: 300%;
        background-size: 300%; } }
    @media only screen and (min-width: 37.5em) {
      .extendedBg:before, .extendedBg:after {
        -webkit-background-size: 150%;
        background-size: 150%; } }
    @media only screen and (min-width: 56.25em) {
      .extendedBg:before, .extendedBg:after {
        -webkit-background-size: 100%;
        background-size: 100%;
        opacity: 0.75; } }
    @media only screen and (min-width: 80em) {
      .extendedBg:before, .extendedBg:after {
        opacity: 1; } }
  .extendedBg:before {
    background-image: url(../img/dark-rays.svg);
    background-position: left top;
    left: 0; }
  .extendedBg:after {
    background-image: url(../img/light-rays.svg);
    background-position: right top;
    right: 0; }

header {
  height: 20em;
  position: relative; }
  @media only screen and (min-width: 37.5em) {
    header {
      height: 25em; } }
  @media only screen and (min-width: 56.25em) {
    header {
      height: 35em; } }
  @media only screen and (min-width: 80em) {
    header {
      height: 40em; } }
  header .hello {
    position: absolute;
    top: 2em;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    width: 45%; }
    @media only screen and (min-width: 23em) {
      header .hello {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 40%; } }
    @media only screen and (min-width: 37.5em) {
      header .hello {
        width: 40%; } }
    @media only screen and (min-width: 56.25em) {
      header .hello {
        width: 33%; } }
    header .hello h1 {
      color: white; }
    header .hello p {
      color: #323e50;
      font-size: 1em;
      font-weight: 300;
      margin: 0; }
      @media only screen and (min-width: 37.5em) {
        header .hello p {
          font-size: 1.5em;
          font-weight: 100; } }

/*
	       _                _   
	 __ _ | |__  ___  _  _ | |_ 
	/ _` || '_ \/ _ \| || ||  _|
	\__,_||_.__/\___/ \_,_| \__|
                            
*/
#about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.8)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8)); }

#about, #details {
  padding: 6em 0 3em 0; }
  #about .intro, #details .intro {
    padding: 0 0 3em 0; }
    @media only screen and (min-width: 56.25em) {
      #about .intro, #details .intro {
        float: left;
        width: 50%; }
        #about .intro:nth-child(odd), #details .intro:nth-child(odd) {
          padding-right: 3em; }
        #about .intro:nth-child(even), #details .intro:nth-child(even) {
          padding-left: 3em; } }

/*
	                   _   
	__ __ __ ___  _ _ | |__
	\ V  V // _ \| '_|| / /
	 \_/\_/ \___/|_|  |_\_\

*/
#work, #myHistory {
  padding: 6em 0 0 0; }
  #work .intro, #myHistory .intro {
    padding-bottom: 3em; }

.spacer {
  height: auto;
  width: 100%; }

.thumbList {
  list-style-type: none;
  padding: 0;
  position: relative; }
  .thumbList .thumbSquare {
    float: left; }

.thumbSquare {
  cursor: pointer;
  position: relative; }
  .thumbSquare:before {
    content: "";
    display: block;
    position: absolute;
    background: #ddf2ff;
    height: 100%;
    right: 0;
    top: 50%;
    width: 2px;
    z-index: 1; }
  .thumbSquare:after {
    content: "";
    display: block;
    position: absolute;
    background: #ddf2ff;
    bottom: 0;
    height: 2px;
    left: 50%;
    width: 100%;
    z-index: 1; }

#work li {
  height: 10em;
  width: 100%; }
  #work li.thumbSquare {
    color: #323e50; }
    #work li.thumbSquare .description, #work li.thumbSquare .icon {
      left: 0;
      position: absolute;
      text-align: center;
      top: 0;
      width: 100%; }
    #work li.thumbSquare .description {
      height: 40%;
      top: 60%; }
      #work li.thumbSquare .description span {
        border-top: 1px solid black;
        padding-top: 1em; }
    #work li.thumbSquare .icon {
      height: 60%;
      top: 0; }
      #work li.thumbSquare .icon:after {
        display: block;
        font-family: 'icomoon';
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        line-height: 1;
        position: absolute;
        speak: none;
        text-transform: none;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        bottom: 0;
        content: "\e613";
        font-size: 8em;
        left: 0;
        width: 100%; }
  #work li:before {
    display: none; }
  #work li:after {
    left: 25%;
    width: 50%; }
  #work li:nth-child(12):after {
    display: none; }
  @media only screen and (min-width: 23em) {
    #work li {
      height: 100%;
      width: 50%; }
      #work li:nth-child(1n+1):before {
        display: block; }
      #work li:nth-child(1n+1):after {
        display: block;
        left: 50%;
        width: 100%; }
      #work li:nth-child(1n+1) {
        display: block; }
      #work li:nth-child(2n+2):before {
        display: none; }
      #work li:nth-child(1n+11):before {
        display: none; }
      #work li:nth-child(1n+11):after {
        display: none; }
      #work li:nth-child(2n+2):after {
        display: none; } }
  @media only screen and (min-width: 37.5em) {
    #work li {
      width: 33%; }
      #work li:nth-child(1n+1):before {
        display: block; }
      #work li:nth-child(1n+1):after {
        display: block;
        left: 50%;
        width: 100%; }
      #work li:nth-child(1n+1) {
        display: block; }
      #work li:nth-child(3n+3):before {
        display: none; }
      #work li:nth-child(1n+9):before {
        display: none; }
      #work li:nth-child(1n+9):after {
        display: none; }
      #work li:nth-child(3n+3):after {
        display: none; } }
  @media only screen and (min-width: 56.25em) {
    #work li {
      width: 25%; }
      #work li:nth-child(1n+1):before {
        display: block; }
      #work li:nth-child(1n+1):after {
        display: block;
        left: 50%;
        width: 100%; }
      #work li:nth-child(1n+1) {
        display: block; }
      #work li:nth-child(4n+4):before {
        display: none; }
      #work li:nth-child(1n+9):before {
        display: none; }
      #work li:nth-child(1n+9):after {
        display: none; }
      #work li:nth-child(4n+4):after {
        display: none; } }

/*
	 _     _      _                   
	| |_  (_) ___| |_  ___  _ _  _  _ 
	| ' \ | |(_-<|  _|/ _ \| '_|| || |
	|_||_||_|/__/ \__|\___/|_|   \_, |
	                             |__/ 

*/
#myHistory {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.8)));
  background-image: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.8));
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.8));
  padding: 6em 0 0 0; }

.jobList {
  list-style-type: none;
  padding-top: 6em;
  padding-bottom: 3em; }
  .jobList .bma:after {
    background-color: #cbecff; }
  .jobList .bma .timeline:before, .jobList .bma .timeline:after {
    background-color: #d2edfe; }
  .jobList .nzpc:after {
    background-color: #c5e9ff; }
  .jobList .nzpc .timeline:before, .jobList .nzpc .timeline:after {
    background-color: #d2edfe; }
  .jobList .freelance:after {
    background-color: #bde6ff; }
  .jobList .freelance .timeline:before, .jobList .freelance .timeline:after {
    background-color: #c6e9ff; }
  .jobList .fairfax:after {
    background-color: #b6e3fe; }
  .jobList .fairfax .timeline:before, .jobList .fairfax .timeline:after {
    background-color: #bde6ff; }
  .jobList .seniorPosition:after {
    background-color: #afe1fe; }
  .jobList .seniorPosition .timeline:before, .jobList .seniorPosition .timeline:after {
    background-color: #b5e3fe; }
  .jobList .productDevelopment:after {
    background-color: #a8defe; }
  .jobList .productDevelopment .timeline:before, .jobList .productDevelopment .timeline:after {
    background-color: #ace0fe; }
  .jobList .digitalSpecialist:after {
    background-color: #a1dcfe; }
  .jobList .digitalSpecialist .timeline:before, .jobList .digitalSpecialist .timeline:after {
    background-color: #a3dcfe; }
  .jobList .jobPosition {
    padding: 0 0 3em 3em;
    position: relative; }
    .jobList .jobPosition:before {
      content: "";
      display: block;
      position: absolute;
      background-color: #78ccfe;
      height: 120%;
      left: 6.5px;
      top: -40%;
      width: 1px; }
    .jobList .jobPosition:after {
      content: "";
      display: block;
      position: absolute;
      border: 1px solid #78ccfe;
      border-radius: 50%;
      height: 13px;
      right: -6.5px;
      width: 13px;
      left: 0;
      top: 0.5em; }
    @media only screen and (min-width: 37.5em) {
      .jobList .jobPosition {
        float: left;
        padding: 0 0 3em 0;
        position: relative; }
        .jobList .jobPosition:before, .jobList .jobPosition:after {
          display: none; } }
    .jobList .jobPosition.bma:before {
      background-image: -webkit-gradient(linear, left bottom, left top, from(#78ccfe), to(rgba(120, 204, 254, 0)));
      background-image: -webkit-linear-gradient(bottom, #78ccfe, rgba(120, 204, 254, 0));
      background-image: linear-gradient(to top, #78ccfe, rgba(120, 204, 254, 0));
      background-color: transparent; }
    @media only screen and (min-width: 37.5em) {
      .jobList .jobPosition.bma {
        padding-right: 3em;
        text-align: right;
        width: 50%; }
        .jobList .jobPosition.bma .timeline.middle {
          background-image: -webkit-gradient(linear, left bottom, left top, from(#78ccfe), to(rgba(120, 204, 254, 0)));
          background-image: -webkit-linear-gradient(bottom, #78ccfe, rgba(120, 204, 254, 0));
          background-image: linear-gradient(to top, #78ccfe, rgba(120, 204, 254, 0));
          background-color: transparent;
          height: 6em;
          right: 0;
          top: -4.6em; } }
    @media only screen and (min-width: 37.5em) {
      .jobList .jobPosition.nzpc {
        padding-left: 6em;
        width: 50%; }
        .jobList .jobPosition.nzpc .timeline.right {
          left: 3em; } }
    @media only screen and (min-width: 37.5em) {
      .jobList .jobPosition.freelance {
        margin-right: 50%;
        padding-right: 3em;
        text-align: right;
        width: 50%; }
        .jobList .jobPosition.freelance .timeline.middle {
          right: 0; }
        .jobList .jobPosition.freelance .timeline.right {
          left: 100%;
          margin-left: 3em; } }
    @media only screen and (min-width: 37.5em) {
      .jobList .jobPosition.fairfax {
        padding-right: 6em;
        text-align: right;
        width: 50%; }
        .jobList .jobPosition.fairfax .timeline.left {
          right: 3em; }
        .jobList .jobPosition.fairfax .timeline.middle {
          height: 0;
          right: 0; }
        .jobList .jobPosition.fairfax .timeline.right {
          height: 0;
          left: 100%;
          margin-left: 3em; } }
    .jobList .jobPosition.digitalSpecialist:before {
      background-image: -webkit-gradient(linear, left top, left bottom, from(#78ccfe), to(rgba(120, 204, 254, 0)));
      background-image: -webkit-linear-gradient(top, #78ccfe, rgba(120, 204, 254, 0));
      background-image: linear-gradient(to bottom, #78ccfe, rgba(120, 204, 254, 0));
      background-color: transparent; }
    @media only screen and (min-width: 37.5em) {
      .jobList .jobPosition.digitalSpecialist .timeline.left {
        background-color: transparent;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#78ccfe), to(rgba(120, 204, 254, 0)));
        background-image: -webkit-linear-gradient(top, #78ccfe, rgba(120, 204, 254, 0));
        background-image: linear-gradient(to bottom, #78ccfe, rgba(120, 204, 254, 0));
        height: 6em;
        padding-bottom: 0.5em; } }
    .jobList .jobPosition.seniorPosition, .jobList .jobPosition.productDevelopment, .jobList .jobPosition.digitalSpecialist {
      padding-left: 6em; }
      .jobList .jobPosition.seniorPosition:after, .jobList .jobPosition.productDevelopment:after, .jobList .jobPosition.digitalSpecialist:after {
        left: 3em; }
      .jobList .jobPosition.seniorPosition h3:before, .jobList .jobPosition.productDevelopment h3:before, .jobList .jobPosition.digitalSpecialist h3:before {
        content: "";
        display: block;
        position: absolute;
        background-color: #78ccfe;
        height: 1px;
        left: 6.5px;
        top: 0.55em;
        width: 2em; }
      @media only screen and (min-width: 37.5em) {
        .jobList .jobPosition.seniorPosition, .jobList .jobPosition.productDevelopment, .jobList .jobPosition.digitalSpecialist {
          margin-left: 50%;
          padding-left: 3em;
          width: 50%; }
          .jobList .jobPosition.seniorPosition h3:before, .jobList .jobPosition.productDevelopment h3:before, .jobList .jobPosition.digitalSpecialist h3:before {
            display: none; }
          .jobList .jobPosition.seniorPosition .timeline.left, .jobList .jobPosition.productDevelopment .timeline.left, .jobList .jobPosition.digitalSpecialist .timeline.left {
            margin-right: 3em;
            right: 100%; }
          .jobList .jobPosition.seniorPosition .timeline.horizontal, .jobList .jobPosition.productDevelopment .timeline.horizontal, .jobList .jobPosition.digitalSpecialist .timeline.horizontal {
            height: 1px;
            right: 100%;
            top: 1em;
            width: 3em; }
            .jobList .jobPosition.seniorPosition .timeline.horizontal.end:after, .jobList .jobPosition.productDevelopment .timeline.horizontal.end:after, .jobList .jobPosition.digitalSpecialist .timeline.horizontal.end:after {
              right: 0;
              bottom: -6.5px; } }
  .jobList .timeline {
    display: none; }
    @media only screen and (min-width: 37.5em) {
      .jobList .timeline {
        background-color: #78ccfe;
        display: block;
        position: absolute;
        top: 0;
        width: 1px; }
        .jobList .timeline.left, .jobList .timeline.middle, .jobList .timeline.right {
          height: 100%;
          padding-bottom: 1em;
          top: 0.5em; }
        .jobList .timeline.start:before, .jobList .timeline.end:after {
          content: "";
          display: block;
          position: absolute;
          border: 1px solid #78ccfe;
          border-radius: 50%;
          height: 13px;
          right: -6.5px;
          width: 13px; }
        .jobList .timeline.start:before {
          top: 0; }
        .jobList .timeline.end:after {
          bottom: 0; } }

/*
	    _       _          _  _     
	 __| | ___ | |_  __ _ (_)| | ___
	/ _` |/ -_)|  _|/ _` || || |(_-<
	\__,_|\___| \__|\__,_||_||_|/__/

*/
#details {
  color: #323e50; }
  #details:before {
    background-position: left center; }
  #details:after {
    background-position: right center; }
  #details .title {
    color: white; }
  #details address ul li {
    color: #323e50;
    display: block;
    float: left;
    padding-top: 6.5em;
    position: relative;
    width: 100%; }
    @media only screen and (min-width: 37.5em) {
      #details address ul li {
        display: inline;
        width: auto; } }
    #details address ul li a {
      color: inherit;
      text-decoration: none; }
      #details address ul li a .icon-container {
        position: absolute;
        height: 5em;
        top: 1.5em; }
        #details address ul li a .icon-container .icon {
          position: absolute;
          height: 5em;
          left: 0;
          top: 0;
          width: 5em; }
          #details address ul li a .icon-container .icon.active:before, #details address ul li a .icon-container .icon.dormant:before {
            display: block;
            font-family: 'icomoon';
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            line-height: 1;
            position: absolute;
            speak: none;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: white;
            font-size: 5em;
            height: 100%;
            left: 0;
            top: 0;
            width: 100%; }
          #details address ul li a .icon-container .icon.active {
            visibility: hidden; }
    #details address ul li.phone a {
      margin-right: 3em; }
      @media only screen and (min-width: 37.5em) {
        #details address ul li.phone a .icon-container {
          left: 0.5em; } }
    @media only screen and (min-width: 37.5em) {
      #details address ul li.email a .icon-container {
        left: 1.75em; } }

/*
	 _  _        _    _     _              
	| |(_) __ _ | |_ | |_  | |__  ___ __ __
	| || |/ _` || ' \|  _| | '_ \/ _ \ \ /
	|_||_|\__, ||_||_|\__| |_.__/\___//_\_\
	      |___/                            

*/
#lightBox {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; }
  #lightBox .top-ui {
    background-image: -webkit-gradient(linear, left bottom, left top, from(#ddf2ff), to(rgba(221, 242, 255, 0.6)));
    background-image: -webkit-linear-gradient(bottom, #ddf2ff, rgba(221, 242, 255, 0.6));
    background-image: linear-gradient(to top, #ddf2ff, rgba(221, 242, 255, 0.6));
    top: 0; }
  #lightBox .bottom-ui {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ddf2ff), to(rgba(221, 242, 255, 0.6)));
    background-image: -webkit-linear-gradient(top, #ddf2ff, rgba(221, 242, 255, 0.6));
    background-image: linear-gradient(to bottom, #ddf2ff, rgba(221, 242, 255, 0.6));
    bottom: 0; }
  #lightBox .top-ui, #lightBox .bottom-ui {
    height: 4em;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1; }
    @media only screen and (min-width: 56.25em) {
      #lightBox .top-ui, #lightBox .bottom-ui {
        height: 4.8em; } }
    @media only screen and (min-width: 80em) {
      #lightBox .top-ui, #lightBox .bottom-ui {
        height: 6em; } }
    #lightBox .top-ui .center, #lightBox .bottom-ui .center {
      height: 100%;
      position: relative; }
    #lightBox .top-ui .close, #lightBox .top-ui .previous, #lightBox .top-ui .next, #lightBox .top-ui .projectCurrent, #lightBox .bottom-ui .close, #lightBox .bottom-ui .previous, #lightBox .bottom-ui .next, #lightBox .bottom-ui .projectCurrent {
      color: #323e50;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      #lightBox .top-ui .close .text, #lightBox .top-ui .previous .text, #lightBox .top-ui .next .text, #lightBox .top-ui .projectCurrent .text, #lightBox .bottom-ui .close .text, #lightBox .bottom-ui .previous .text, #lightBox .bottom-ui .next .text, #lightBox .bottom-ui .projectCurrent .text {
        font-size: 1.5em;
        visibility: hidden; }
        @media only screen and (min-width: 37.5em) {
          #lightBox .top-ui .close .text, #lightBox .top-ui .previous .text, #lightBox .top-ui .next .text, #lightBox .top-ui .projectCurrent .text, #lightBox .bottom-ui .close .text, #lightBox .bottom-ui .previous .text, #lightBox .bottom-ui .next .text, #lightBox .bottom-ui .projectCurrent .text {
            visibility: inherit; } }
        @media only screen and (min-width: 56.25em) {
          #lightBox .top-ui .close .text, #lightBox .top-ui .previous .text, #lightBox .top-ui .next .text, #lightBox .top-ui .projectCurrent .text, #lightBox .bottom-ui .close .text, #lightBox .bottom-ui .previous .text, #lightBox .bottom-ui .next .text, #lightBox .bottom-ui .projectCurrent .text {
            font-size: 1.7em; } }
        @media only screen and (min-width: 80em) {
          #lightBox .top-ui .close .text, #lightBox .top-ui .previous .text, #lightBox .top-ui .next .text, #lightBox .top-ui .projectCurrent .text, #lightBox .bottom-ui .close .text, #lightBox .bottom-ui .previous .text, #lightBox .bottom-ui .next .text, #lightBox .bottom-ui .projectCurrent .text {
            font-size: 2em; } }
      #lightBox .top-ui .close .icon:before, #lightBox .top-ui .previous .icon:before, #lightBox .top-ui .next .icon:before, #lightBox .top-ui .projectCurrent .icon:before, #lightBox .bottom-ui .close .icon:before, #lightBox .bottom-ui .previous .icon:before, #lightBox .bottom-ui .next .icon:before, #lightBox .bottom-ui .projectCurrent .icon:before {
        font-size: 2.2em; }
        @media only screen and (min-width: 56.25em) {
          #lightBox .top-ui .close .icon:before, #lightBox .top-ui .previous .icon:before, #lightBox .top-ui .next .icon:before, #lightBox .top-ui .projectCurrent .icon:before, #lightBox .bottom-ui .close .icon:before, #lightBox .bottom-ui .previous .icon:before, #lightBox .bottom-ui .next .icon:before, #lightBox .bottom-ui .projectCurrent .icon:before {
            font-size: 2.4em; } }
        @media only screen and (min-width: 80em) {
          #lightBox .top-ui .close .icon:before, #lightBox .top-ui .previous .icon:before, #lightBox .top-ui .next .icon:before, #lightBox .top-ui .projectCurrent .icon:before, #lightBox .bottom-ui .close .icon:before, #lightBox .bottom-ui .previous .icon:before, #lightBox .bottom-ui .next .icon:before, #lightBox .bottom-ui .projectCurrent .icon:before {
            font-size: 2.75em; } }
    #lightBox .top-ui .projectCurrent, #lightBox .bottom-ui .projectCurrent {
      font-size: 1.5em;
      left: 0;
      text-align: center;
      width: 100%;
      z-index: 0; }
      @media only screen and (min-width: 56.25em) {
        #lightBox .top-ui .projectCurrent, #lightBox .bottom-ui .projectCurrent {
          font-size: 1.7em; } }
      @media only screen and (min-width: 80em) {
        #lightBox .top-ui .projectCurrent, #lightBox .bottom-ui .projectCurrent {
          font-size: 2em; } }
      #lightBox .top-ui .projectCurrent .dynamic, #lightBox .bottom-ui .projectCurrent .dynamic {
        display: inline-block;
        position: relative; }
    #lightBox .top-ui .previous, #lightBox .top-ui .next, #lightBox .bottom-ui .previous, #lightBox .bottom-ui .next {
      z-index: 1; }
    #lightBox .top-ui .close, #lightBox .top-ui .next, #lightBox .bottom-ui .close, #lightBox .bottom-ui .next {
      right: 1.5em; }
      #lightBox .top-ui .close .text, #lightBox .top-ui .next .text, #lightBox .bottom-ui .close .text, #lightBox .bottom-ui .next .text {
        margin-right: 2.18182em; }
      #lightBox .top-ui .close .icon-container, #lightBox .top-ui .next .icon-container, #lightBox .bottom-ui .close .icon-container, #lightBox .bottom-ui .next .icon-container {
        right: 0; }
        #lightBox .top-ui .close .icon-container .icon:before, #lightBox .top-ui .next .icon-container .icon:before, #lightBox .bottom-ui .close .icon-container .icon:before, #lightBox .bottom-ui .next .icon-container .icon:before {
          right: 0; }
    #lightBox .top-ui .previous, #lightBox .bottom-ui .previous {
      left: 1.5em; }
      #lightBox .top-ui .previous .text, #lightBox .bottom-ui .previous .text {
        margin-left: 2em; }
      #lightBox .top-ui .previous .icon-container, #lightBox .bottom-ui .previous .icon-container {
        left: 0; }
        #lightBox .top-ui .previous .icon-container .icon:before, #lightBox .bottom-ui .previous .icon-container .icon:before {
          left: 0; }
    #lightBox .top-ui a, #lightBox .bottom-ui a {
      text-decoration: none; }
    #lightBox .top-ui .icon-container, #lightBox .bottom-ui .icon-container {
      height: 100%;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 3em; }
      #lightBox .top-ui .icon-container .icon, #lightBox .bottom-ui .icon-container .icon {
        height: 100%;
        position: absolute;
        width: 100%; }
        #lightBox .top-ui .icon-container .icon.active, #lightBox .bottom-ui .icon-container .icon.active {
          visibility: hidden; }
        #lightBox .top-ui .icon-container .icon:before, #lightBox .bottom-ui .icon-container .icon:before {
          display: block;
          font-family: 'icomoon';
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          line-height: 1;
          position: absolute;
          speak: none;
          text-transform: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          text-align: center;
          top: 0; }
    #lightBox .top-ui .close .icon.dormant:before, #lightBox .bottom-ui .close .icon.dormant:before {
      content: "\e60d"; }
    #lightBox .top-ui .close .icon.active:before, #lightBox .bottom-ui .close .icon.active:before {
      content: "\e60e"; }
    #lightBox .top-ui .previous .icon.dormant:before, #lightBox .bottom-ui .previous .icon.dormant:before {
      content: "\e609"; }
    #lightBox .top-ui .previous .icon.active:before, #lightBox .bottom-ui .previous .icon.active:before {
      content: "\e60a"; }
    #lightBox .top-ui .next .icon.dormant:before, #lightBox .bottom-ui .next .icon.dormant:before {
      content: "\e60b"; }
    #lightBox .top-ui .next .icon.active:before, #lightBox .bottom-ui .next .icon.active:before {
      content: "\e60c"; }
  #lightBox .content {
    background-color: white;
    bottom: 4em;
    position: absolute;
    top: 4em;
    width: 100%; }
    @media only screen and (min-width: 56.25em) {
      #lightBox .content {
        bottom: 4.8em;
        top: 4.8em; } }
    @media only screen and (min-width: 80em) {
      #lightBox .content {
        bottom: 6em;
        top: 6em; } }
    #lightBox .content li {
      background-position: center center;
      background-repeat: no-repeat;
      -webkit-background-size: contain;
      background-size: contain;
      bottom: 1.5em;
      left: 1.5em;
      position: absolute;
      right: 1.5em;
      top: 1.5em; }
    #lightBox .content[data-projectName="neilsenSurvey"] li[data-projectCurrent="0"] {
      background-image: url(../img/neilsen-frame1-micro.jpg); }
      @media only screen and (min-width: 80em) {
        #lightBox .content[data-projectName="neilsenSurvey"] li[data-projectCurrent="0"] {
          background-image: url(../img/neilsen-frame1-large.jpg); } }

/*
	                _                  _          
	 _ __   ___  __| | ___  _ _  _ _  (_) ___ _ _ 
	| '  \ / _ \/ _` |/ -_)| '_|| ' \ | ||_ /| '_|
	|_|_|_|\___/\__,_|\___||_|  |_||_||_|/__||_|  

*/
.no-borderradius #myHistory .jobPosition:after {
  background-color: transparent;
  background-image: url(../img/history-dot.png);
  background-position: center center;
  background-repeat: no-repeat;
  border: 0;
  height: 15px;
  right: -7.5px;
  width: 15px; }

.no-boxshadow .shadowTop, .no-boxshadow .shadowBottom {
  background-position: center center;
  background-repeat: no-repeat; }
  .no-boxshadow .shadowTop:before, .no-boxshadow .shadowBottom:before {
    display: none; }
.no-boxshadow .shadowTop {
  background-image: url(../img/no-boxshadow-top.png); }
.no-boxshadow .shadowBottom {
  background-image: url(../img/no-boxshadow-bottom.png); }

.no-cssgradients #about, .no-cssgradients #myHistory {
  background-color: rgba(255, 255, 255, 0.7); }
.no-cssgradients .jobList .jobPosition.bma:before, .no-cssgradients .jobList .jobPosition.digitalSpecialist:before {
  background-color: #78ccfe; }
@media only screen and (min-width: 37.5em) {
  .no-cssgradients .jobList .jobPosition.bma .timeline.middle, .no-cssgradients .jobList .jobPosition.bma .timeline.left, .no-cssgradients .jobList .jobPosition.digitalSpecialist .timeline.middle, .no-cssgradients .jobList .jobPosition.digitalSpecialist .timeline.left {
    background-color: #78ccfe; } }
.no-cssgradients .jobList .jobPosition:after {
  background-color: #d6f0ff; }
.no-cssgradients .jobList .jobPosition .timeline:before, .no-cssgradients .jobList .jobPosition .timeline:after {
  background-color: #d6f0ff; }

.no-rgba #about, .no-rgba #myHistory {
  background-image: url(../img/white-50percent-tile.png); }
.no-rgba #lightBox .top-ui, .no-rgba #lightBox .bottom-ui {
  background-image: url(../img/white-80percent-tile.png); }

.no-mediaquery h1 {
  font-size: 7em; }
.no-mediaquery header {
  height: 640px; }
  .no-mediaquery header .hello {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 33%; }
    .no-mediaquery header .hello h1 {
      color: white; }
    .no-mediaquery header .hello p {
      font-size: 1.5em;
      font-weight: 100; }
.no-mediaquery #portraitBody {
  height: 1280px;
  left: 50%;
  margin-left: -350px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: 973px; }
.no-mediaquery #portraitHands {
  height: 160px;
  top: -80px;
  left: 50%;
  margin-left: -350px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  width: 973px; }
.no-mediaquery .center {
  width: 75em; }
.no-mediaquery #about .intro, .no-mediaquery #details .intro {
  float: left;
  width: 50%; }
  .no-mediaquery #about .intro.design, .no-mediaquery #about .intro.experience, .no-mediaquery #about .intro.contact, .no-mediaquery #details .intro.design, .no-mediaquery #details .intro.experience, .no-mediaquery #details .intro.contact {
    padding-right: 3em; }
  .no-mediaquery #about .intro.development, .no-mediaquery #about .intro.employment, .no-mediaquery #about .intro.references, .no-mediaquery #details .intro.development, .no-mediaquery #details .intro.employment, .no-mediaquery #details .intro.references {
    padding-left: 3em; }
.no-mediaquery #work li {
  width: 25%; }
  .no-mediaquery #work li .icon:after {
    left: 50%;
    margin: -0.5em 0 0 -0.5em;
    top: 50%; }
.no-mediaquery #details address ul li {
  display: inline;
  width: auto; }
  .no-mediaquery #details address ul li.phone a .icon-container {
    left: 0.5em; }
  .no-mediaquery #details address ul li.email a .icon-container {
    left: 1.75em; }
.no-mediaquery #lightBox .top-ui, .no-mediaquery #lightBox .bottom-ui {
  height: 6em; }
  .no-mediaquery #lightBox .top-ui .center, .no-mediaquery #lightBox .bottom-ui .center {
    height: 100%;
    position: relative; }
  .no-mediaquery #lightBox .top-ui .close, .no-mediaquery #lightBox .top-ui .previous, .no-mediaquery #lightBox .top-ui .next, .no-mediaquery #lightBox .top-ui .projectCurrent, .no-mediaquery #lightBox .bottom-ui .close, .no-mediaquery #lightBox .bottom-ui .previous, .no-mediaquery #lightBox .bottom-ui .next, .no-mediaquery #lightBox .bottom-ui .projectCurrent {
    top: 25px; }
    .no-mediaquery #lightBox .top-ui .close .text, .no-mediaquery #lightBox .top-ui .previous .text, .no-mediaquery #lightBox .top-ui .next .text, .no-mediaquery #lightBox .top-ui .projectCurrent .text, .no-mediaquery #lightBox .bottom-ui .close .text, .no-mediaquery #lightBox .bottom-ui .previous .text, .no-mediaquery #lightBox .bottom-ui .next .text, .no-mediaquery #lightBox .bottom-ui .projectCurrent .text {
      font-size: 2em;
      visibility: inherit; }
    .no-mediaquery #lightBox .top-ui .close .icon:before, .no-mediaquery #lightBox .top-ui .previous .icon:before, .no-mediaquery #lightBox .top-ui .next .icon:before, .no-mediaquery #lightBox .top-ui .projectCurrent .icon:before, .no-mediaquery #lightBox .bottom-ui .close .icon:before, .no-mediaquery #lightBox .bottom-ui .previous .icon:before, .no-mediaquery #lightBox .bottom-ui .next .icon:before, .no-mediaquery #lightBox .bottom-ui .projectCurrent .icon:before {
      font-size: 2.75em;
      top: -20px; }
  .no-mediaquery #lightBox .top-ui .projectCurrent, .no-mediaquery #lightBox .bottom-ui .projectCurrent {
    font-size: 2em; }
.no-mediaquery #lightBox .content {
  bottom: 6em;
  top: 6em; }
  .no-mediaquery #lightBox .content li {
    bottom: 0;
    left: 0;
    right: 0;
    top: 0; }

.no-svg {
  	/* #portraitBody, #portraitHands{
  
  		// this is taken care of via javascript / modernizer
  	
  	}*/ }

.lt-ie9 .ie8:before {
  content: "" !important; }
