@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700);

@import "normalize";
@import "ht5bp";

*, *:after, *:before {
	box-sizing: border-box;
}

.clearFix:after {
	content: "";
	display: table;
	clear: both;
}

// color values
$gray: #787878; // generic
$grayD: darken($gray, 25%); // dark
$grayL: lighten($gray, 35%); // light

$blueBg: #78ccfe;
$blueDull: #7fe7ff;
$blueLight: #00cfff;
$blue: #3fa9f5;
$blueMedium: #325a8d;
$blueDark: #323e50;

$lightBoxBg: rgba(black, 0.8);

$divider : lighten($blueLight, 24%);

$shadowRegular: rgba(black, 0.25);
$shadowLight: rgba(black, 0.10);

// generic values
$ani: 0.25s;
$pad: 6em;
$icon: 2%;

@mixin breakpoint($point){

	@if $point == MICRO{
		@media only screen and (min-width: 23em){ @content; } // 370px
	}

	/*else if  $point == TINY{
		@media only screen and (min-width: 30em){ @content; } // 480px
	}*/

	@else if $point == SMALL{
		@media only screen and (min-width: 37.5em){ @content; } // 600px
	}

	@else if $point == MEDIUM{
		@media only screen and (min-width: 56.25em){ @content; } // 900px
	}

	/*@else if $point == BIG{
		@media only screen and (min-width: 69em){ @content; } // 1104px
	}*/

	@else if $point == LARGE{
		@media only screen and (min-width: 80em){ @content; } // 1280px (more than 1200px so that there is a slight amount of padding when the .center width becomes static at 1200px)
	}

}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin pseudo{
	content: "";
	display: block;
	position: absolute;
}

@mixin keyframes($aniName){

    @-webkit-keyframes $aniName{
        @content;
    }
    @-moz-keyframes $aniName{
        @content;
    }
    @-o-keyframes $aniName{
        @content;
    }
    @keyframes $aniName{
        @content;
    }
}

/*
	              _       
	 _ __   __ _ (_) _ _  
	| '  \ / _` || || ' \ 
	|_|_|_|\__,_||_||_||_|

*/

html, body{
	height: 100%; // is this messing up the vertical scrolling on some devices?
	width: 100%;
}

head{
	background-color: red;

	@include breakpoint(MEDIUM){ background-color: green; }
}

body{
	background-color: $blueBg;
	color: $blue;
	font: {
		family: "Roboto", sans-serif;
		weight: 300;
	}

	&:before{
		@include pseudo;
		background:{
			image: url(../img/light-rays.svg);
			position: right top;
			repeat: no-repeat;
			size: 200%;
		}
		height: 100%;
		opacity: 0.5;
		pointer-events: none; // just encase they pop up over actual content
		position: fixed;
		right: 0;
		top: 0;
		width: 100%;
		z-index: -100; // move light rays under other DOM content

		@include breakpoint(SMALL){ background-size: 150%; }
		@include breakpoint(MEDIUM){ background-size: 100%; }
	}
}

h1, .h1{
	font: {
		color: white;
		size: 3.5em;
		weight: 100;
	}
	margin: 0;

	@include breakpoint(SMALL){
		font-size: 5em;
	}

	@include breakpoint(MEDIUM){
		font-size: 7em;
	}
}

h2, .h2{
	$width: $pad / 4;
	font: {
		size: 1.5em;
		weight: 100;
	}
	margin: 0;
	padding: 0;
	position: relative;

	@include breakpoint(SMALL){
		font-size: 2em;
	}
}

h3, .h3{
	color: $blueDark;
	font: {
		size: 1.5em;
		style: normal; // fixes the italx from the <address>
		weight: 100;
	}
	margin: 0;
}

h4, .h4{
	font: {
		size: 2em;
		weight: 100;
	}
	margin: 0;
}

.siteWrapper{
	overflow: hidden;
	position: relative;
}

.center{
	list-style-type: none;
	margin: 0 auto;
	padding: 0 5%;
	width: 100%;

	@include breakpoint(LARGE){
		padding: 0;
		width: 75em; // 1200px
	}
}

.oneWord{
	white-space: nowrap;
}

.svgIcon{
	height: auto;
}

.title{
	color: $blueDark;
	position: relative;

	h2{ padding-left: $pad / 3; }

	.svgIcon{
		$width: $pad / 3;
		// background-color: gray;
		// height: $width;
		left: 0;
		position: absolute;
		top: 0;
		width: $width;

		@include breakpoint(SMALL){
			$width: $pad / 2.2;
			// height: $width;
			top: 0;
			width: $width;
		}
	}
}

/*
	     _              _                  
	 ___| |_   __ _  __| | ___ __ __ __ ___
	(_-<| ' \ / _` |/ _` |/ _ \\ V  V /(_-<
	/__/|_||_|\__,_|\__,_|\___/ \_/\_/ /__/
	                                       
*/

// create the shadow modules
// both shadows are the same apart from their pseudo element locations
.shadowTop, .shadowBottom{
	height: $pad / 2;
	left: 0;
	overflow: hidden; // hides the pseudo element and only shows the box-shadow
	position: absolute;
	width: 100%;

	&:before{
		@include pseudo;
		border-radius: 50%;
		box-shadow: 0px 0px 30px 0px $shadowRegular;
		height: 100%;
		left: 0;
		width: 100%;
	}
}

.shadowTop:before{
	top: 100%; // push the pesudo element under the mask
}

.shadowBottom:before{
	bottom: 100%; // push the pesudo element above the mask
}

// position the shadows...
section, .shadowContainer{
	position: relative; // make these the anchor for the shadows to be positioned around
}

#tools, #work, #myHistory{

	& > .shadowBottom{
		top: 0;
	}
}

#about, #tools{

	.shadowBottom:before{
		box-shadow: 0px 0px 20px 0px $shadowLight;
	}
}

#about, #tools{

	.shadowTop{
		bottom: 100%;
	}
}

#lightBox{

	.shadowTop{
		bottom: 0;	
	}

	.shadowBottom{
		top: 0;
	}
}

#tools, #work, #myHistory, #details{

	.shadowContainer .shadowTop{
		bottom: 100%;

		&:before{
			box-shadow: 0px 0px 20px 0px $shadowLight;
		}
	}
}

/*
	                 _               _  _   
	 _ __  ___  _ _ | |_  _ _  __ _ (_)| |_ 
	| '_ \/ _ \| '_||  _|| '_|/ _` || ||  _|
	| .__/\___/|_|   \__||_|  \__,_||_| \__|
	|_|                                     

*/

// portrait image blendng through two different modules (header & about)
// hands grabbing onto and overlaying the divider

$portraitHeightTiny: 40em; 
$portraitHeightSmall: 50em; 
$portraitHeightMedium: 70em; 
$portraitHeightLarge: 80em;

$bodytoHandsRatio: 0.125; // the relation between the portrait body and hands svg image heights

#portraitBody, #portraitHands{
	left: 0%;
	position: absolute;
	transform: translateX(0);
	width: auto;

	@include breakpoint(MICRO){
		left: 15%;
		transform: translateX(0);
	}

	@include breakpoint(SMALL){
		left: 25%;
		transform: translateX(0);
	}

	@include breakpoint(MEDIUM){
		left: 50%;
		transform: translateX(-50%);
	}
}

#portraitBody{
	height: $portraitHeightTiny;
	top: 0;

	@include breakpoint(SMALL){ height: $portraitHeightSmall; }
	@include breakpoint(MEDIUM){ height: $portraitHeightMedium; }
	@include breakpoint(LARGE){ height: $portraitHeightLarge; }
}

#portraitHands{
	height: $portraitHeightTiny * $bodytoHandsRatio;
	top: $portraitHeightTiny * $bodytoHandsRatio * -0.5;

	@include breakpoint(SMALL){
		height: $portraitHeightSmall * $bodytoHandsRatio;
		top: $portraitHeightSmall * $bodytoHandsRatio * -0.5;
	}
	@include breakpoint(MEDIUM){
		height: $portraitHeightMedium * $bodytoHandsRatio;
		top: $portraitHeightMedium * $bodytoHandsRatio * -0.5;
	}
	@include breakpoint(LARGE){
		height: $portraitHeightLarge * $bodytoHandsRatio;
		top: $portraitHeightLarge * $bodytoHandsRatio * -0.5;
	}
}

header{
	height: $portraitHeightTiny / 2;
	position: relative; // for hello copy to reference

	@include breakpoint(SMALL){ height: $portraitHeightSmall / 2; }
	@include breakpoint(MEDIUM){ height: $portraitHeightMedium / 2; }
	@include breakpoint(LARGE){ height: $portraitHeightLarge / 2; }

	.hello{
		position: absolute;
		top: $pad / 3;
		transform: translateY(0);
		width: 45%;

		@include breakpoint(MICRO){
			top: 50%;
			transform: translateY(-50%);
			width: 40%;
		}

		@include breakpoint(SMALL){ width: 40%; }

		@include breakpoint(MEDIUM){ width: 33%; }

		h1{ color: white; }

		p{
			color: $blueDark;
			font: {
				size: 1em;
				weight: 300;
			}
			margin: 0;

			@include breakpoint(SMALL){
				font: {
					size: 1.5em;
					weight: 100;
				}
			}
		}
	}
}

/*
	       _                _   
	 __ _ | |__  ___  _  _ | |_ 
	/ _` || '_ \/ _ \| || ||  _|
	\__,_||_.__/\___/ \_,_| \__|
                            
*/

#about{
	background-image: linear-gradient(to bottom, rgba(white, 0.5), rgba(white, 0.8));
}

#about, #details{
	padding: $pad 0 ($pad / 2) 0;

	.seperator{
		float: left;
		height: 0;
		width: 100%;
	}

	.intro{
		padding: 0 0 ($pad / 2) 0;

		@include breakpoint(MEDIUM){
			&.left{ padding-right: $pad / 2; }
			&.right{ padding-left: $pad / 2; }
			&.left, &.right{ width: 50%; }
			float: left;
		}
	}
}

/*
     _              _     
    | |_  ___  ___ | | ___
    |  _|/ _ \/ _ \| |(_-<
     \__|\___/\___/|_|/__/

*/

#tools{
	background-color: white;
	padding: $pad 0 0 0;
	z-index: 2; // bump up above work container so that the bottom shadow is visible

	@mixin breakpoint($point){

		@if $point == threeROWS{
			@media only screen and (min-width: 21em){ @content; }
		}

		@if $point == twoROWS{
			@media only screen and (min-width: 35em){ @content; }
		}

		@else if $point == oneROW{
			@media only screen and (min-width: 50em){ @content; }
		}
	}

	.thumbList{
		margin-top: $pad / 2;
	}

	.thumbSquare{
		$fourRows: 100% / 2;
		$threeRows: 100% / 5;
		$twoRows: 100% / 7;
		$oneRow: 100% / 15;
		float: left;
		margin-left: 0;
		padding: ($pad / 3) 0;
		position: relative;
		width: $fourRows;

		&:nth-child(2n + 1){ margin-left: 0; }

		@include breakpoint(threeROWS){

			margin-left: $threeRows;
			width: $threeRows;

			&:nth-child(1n + 1){ margin-left: $threeRows; } // reset margin
			&:nth-child(3n + 1){ margin-left: 0; }
		}

		@include breakpoint(twoROWS){

			margin-left: $twoRows;
			width: $twoRows;

			&:nth-child(1n + 1){ margin-left: $twoRows; } // reset margin
			&:nth-child(4n + 1){ margin-left: 0; }
		}

		@include breakpoint(oneROW){

			width: $oneRow;

			&:nth-child(1n + 1){ margin-left: $oneRow; } // reset margin
			&:nth-child(1){ margin-left: 0; }
		}

		a{
			display: block;
			height: 100%;
			width: 100%;
		}

		.iconContainer{
			position: relative;
		}

		img{
			height: auto;
			margin-left: 25%;
			width: 50%;

			@include breakpoint(threeROWS){
				margin-left: 15%;
				width: 70%;
			}

			@include breakpoint(twoROWS){
				margin-left: 0;
				width: 100%;
			}
		}

		.active{
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			visibility: hidden;

			.svgIcon{ z-index: 1; }

			.shadowLogo{
				left: 0;
				position: absolute;
				top: 0;
				z-index: -1;
			}
		}

		.description{
			background-color: white;
			border: 1px solid $blueLight;
			box-shadow: 0 20px 5px -10px $shadowLight;
			left: 50%;
			padding: 0.5em 1em;
			pointer-events: none;
			position: absolute;
			text-align: center;
			top: 90%;
			transform: translateX(-50%); // scale(0.5);
			visibility: hidden;
			width: 150%;
			z-index: 100;

			@include breakpoint(threeROWS){ width: 200%; }
			@include breakpoint(twoROWS){ width: 200%; }
			@include breakpoint(oneROW){ width: 250%; }

			&:before{
				$width: 2em;
				@include pseudo;
				background-color: white;
				border: 1px solid $blueLight;
				height: $width;
				margin-left: -0.3em;
				width: $width;
				z-index: -3;
				left: 50%;
				top: 0;
				transform: rotate(45deg) translateX(-50%);
			}

			h3:before{
				@include pseudo;
				background-color: white;
				bottom: 0;
				left: 0;
				right: 0;
				top: 0;
				z-index: -1;
			}

			h3{
				color: $blueLight;
			}

			p{
				color: $blueDull;
			}

			@include breakpoint(threeROWS){

				h3{
					font: {
						size: 1.1em;
						weight: 300;
					}
				}

				p{ font-size: 0.8em; }
			}

			@include breakpoint(twoROWS){

				h3{
					font: {
						size: 1.5em;
						weight: 100;
					}
				}

				p{ font-size: 1em; }
			}

			p{ margin: 0; }
		}
	}
}

/*
	                   _   
	__ __ __ ___  _ _ | |__
	\ V  V // _ \| '_|| / /
	 \_/\_/ \___/|_|  |_\_\

*/

#work{
	background-color: white;
	padding: $pad 0 0 0;
	z-index: 1;  // bump up above history and below the tools container so that the bottom shadow is visible

	@mixin breakpoint($point){

		@if $point == twoSMALL{
			@media only screen and (min-width: 33em){ @content; }
		}

		@else if $point == twoBIG{
			@media only screen and (min-width: 41em){ @content; }
		}

		@else if $point == threeSMALL{
			@media only screen and (min-width: 55em){ @content; }
		}

		@else if $point == threeBIG{
			@media only screen and (min-width: 64em){ @content; }
		}

		@else if $point == threeHUGE{
			@media only screen and (min-width: 80em){ @content; }
		}

	}

	.thumbList{
		list-style-type: none;
		margin-top: $pad / 2;
		padding-bottom: $pad / 2;
		@include breakpoint(twoBIG){ padding-bottom: $pad / 3; }
		@include breakpoint(threeSMALL){ padding-bottom: $pad / 4; }
		@include breakpoint(threeBIG){ padding-bottom: $pad / 5; }

		.thumbSquare{
			cursor: pointer;
			float: left;
			position: relative;
			width: 100%;

			@include breakpoint(twoSMALL){ width: 50%; }
			@include breakpoint(threeSMALL){ width: 33.3%; }

			a{
				$width: 7em;
				color: $blueDark;
				display: block;
				height: 10em;
				position: relative;
				text-decoration: none;
				width: 100%;

				.iconContainer{
					position: absolute;
					height: $width;
					margin: (- $width / 2) 0 0 0;
					top: 50%;
					width: $width;

					.logo{
						position: absolute;
					}

					.logo.dormant{
						visibility: inherit;
						width: $width;
					}

					.logo.active{
						visibility: hidden;

						.svgIcon, .shadowLogo{
							left: 0;
							position: absolute;
							top: 0;
							width: $width;
						}

						.svgIcon{ z-index: 1; }

						.shadowLogo{ 
							z-index: 0;
						}
					}

				}

				.description{
					color: inherit;
					margin-left: $width - 0.75em;
					position: absolute;
					top: 50%;
					transform: translateY(-50%);

					&:before{
						@include pseudo;
						background-image: linear-gradient(to top, rgba($blueDark, 0), $blueDark, rgba($blueDark, 0));
						bottom: -0.5em;
						left: -1em;
						top: - 0.5em;
						width: 1px;
					}
				}

				@include breakpoint(twoSMALL){

					.description{
						font: {
							size: 1em;
							weight: 300;
						}
						margin-left: $width + 1.75em;
					}
				}

				@include breakpoint(twoBIG){
					height: 13em;
					
					.description{
						font: {
							size: 1.5em;
							weight: 100;
						}
						margin-left: $width - 0.75em;
					}
				}

				@include breakpoint(threeSMALL){
					height: 15em;

					.description{
						font: {
							size: 1em;
							weight: 300;
						}
						margin-left: $width + 1.75em;
					}
				}

				@include breakpoint(threeBIG){
					height: 17em;

					.description{
						font: {
							size: 1.5em;
							weight: 100;
						}
						margin-left: $width - 0.75em;
					}
				}
			}

			@include breakpoint(twoSMALL){
				$gap: 1em;

				&:nth-child(2n + 1){ padding: 0 $gap 0 0; }
				&:nth-child(2n + 2){ padding: 0 0 0 $gap; }
			}

			@include breakpoint(twoBIG){
				$gap: 2em;

				&:nth-child(2n + 1){ padding: 0 $gap 0 0; }
				&:nth-child(2n + 2){ padding: 0 0 0 $gap; }
			}

			@include breakpoint(threeSMALL){
				$gap: 3em;

				&:nth-child(3n + 1){ padding: 0 $gap 0 0; }
				&:nth-child(3n + 2){ padding: 0 ($gap / 2); }
				&:nth-child(3n + 3){ padding: 0 0 0 $gap; }
			}

			@include breakpoint(threeBIG){
				$gap: 4em;

				&:nth-child(3n + 1){ padding: 0 $gap 0 0; }
				&:nth-child(3n + 2){ padding: 0 ($gap / 2); }
				&:nth-child(3n + 3){ padding: 0 0 0 $gap; }
			}

			@include breakpoint(threeHUGE){
				$gap: 8.5em;

				&:nth-child(3n + 1){ padding: 0 $gap 0 0; }
				&:nth-child(3n + 2){ padding: 0 ($gap / 2); }
				&:nth-child(3n + 3){ padding: 0 0 0 $gap; }
			}

			&[data-state="enter"] .description:before{
				background-image: linear-gradient(to top, rgba($blueLight, 0), $blueLight, rgba($blueLight, 0));
			}
		}
	}
}

/*
	 _     _      _                   
	| |_  (_) ___| |_  ___  _ _  _  _ 
	| ' \ | |(_-<|  _|/ _ \| '_|| || |
	|_||_||_|/__/ \__|\___/|_|   \_, |
	                             |__/ 

*/

#myHistory{
	background-image: linear-gradient(to top, rgba(white, 0.25), rgba(white, 0.8));
	padding: $pad 0 0 0;
	z-index: 0; // bump up below work container so that the bottom shadow is visible
}

.jobList{
	$dot: 15px; // the width of the timeline start and end "dot"
	$stroke: 1px; // the width of the timeline
	list-style-type: none;
	margin-top: $pad / 2;
	padding-top: $pad;
	padding-bottom: $pad / 2;

	// colors...
	.bma{
		
		&:after{ background-color: #cbecff; }
		& .timeline:before, & .timeline:after{ background-color: #d2edfe; }
	}

	.nzpc{
		
		&:after{ background-color: #c5e9ff; }	
		& .timeline:before, & .timeline:after{ background-color: #d2edfe; }
	}

	.freelance{
		
		&:after{ background-color: #bde6ff; }
		& .timeline:before, & .timeline:after{ background-color: #c6e9ff; }
	}

	.fairfax{
		
		&:after{ background-color: #b6e3fe; }
		& .timeline:before, & .timeline:after{ background-color: #bde6ff; }
	}

	.seniorPosition{
		
		&:after{ background-color: #afe1fe; }
		& .timeline:before, & .timeline:after{ background-color: #b5e3fe; }
	}

	.productDevelopment{
		
		&:after{ background-color: #a8defe; }
		& .timeline:before, & .timeline:after{ background-color: #ace0fe; }
	}

	.digitalSpecialist{
		
		&:after{ background-color: #a1dcfe; }
		& .timeline:before, & .timeline:after{ background-color: #a3dcfe; }
	}

	@mixin dotBase{
		@include pseudo;
		// background-color: $color; // colour is set through the class system above
		border: $stroke solid $blueLight;
		border-radius: 50%;
		height: $dot - ($stroke * 2);
		right: - ($dot / 2) + $stroke;
		width: $dot - ($stroke * 2);
	}

	.jobPosition{
		padding: 0 0 ($pad / 2) ($pad / 2);
		position: relative;

		&:before{
			@include pseudo;
			background-color: $blueLight;
			height: 120%;
			left: ($dot / 2) - $stroke;
			top: -40%;
			width: $stroke;
		}

		&:after{
			@include dotBase;
			left: 0;
			top: 0.5em; // pull inline with header text
		}

		@include breakpoint(SMALL){
			float: left;
			padding: 0 0 ($pad / 2) 0;
			position: relative;

			&:before, &:after{ display: none; }
		}

		&.bma{

			&:before{
				background: {
					image: linear-gradient(to top, $blueLight, rgba($blueLight, 0));
					color: transparent;
				}
			}

			@include breakpoint(SMALL){
				padding-right: $pad / 2;
				text-align: right;
				width: 50%;

				.timeline.middle{
					background: {
						image: linear-gradient(to top, $blueLight, rgba($blueLight, 0));
						color: transparent;
					}
					height: $pad;
					right: 0;
					top: - $pad + 1.4em; // pull inline with header text
				}
			}
		}

		&.nzpc{

			@include breakpoint(SMALL){
				padding-left: $pad;
				width: 50%;

				.timeline.right{ left: $pad / 2; }
			}
		}

		&.freelance{

			@include breakpoint(SMALL){
				margin-right: 50%;
				padding-right: $pad / 2;
				text-align: right;
				width: 50%;

				.timeline.middle{ right: 0; }

				.timeline.right{
					left: 100%;
					margin-left: $pad / 2;
				}
			}
		}

		&.fairfax{

			@include breakpoint(SMALL){
				padding-right: $pad;
				text-align: right;
				width: 50%;

				.timeline.left{ right: $pad / 2; }

				.timeline.middle{
					height: 0; // just show the ending "dot" no line
					right: 0;
				}

				.timeline.right{
					height: 0; // just show the ending "dot" no line
					left: 100%;
					margin-left: $pad / 2;
				}
			}
		}

		&.digitalSpecialist{

			&:before{
				background: {
					image: linear-gradient(to bottom, $blueLight, rgba($blueLight, 0));
					color: transparent;
				}
			}

			@include breakpoint(SMALL){
				.timeline.left{
					background: {
						color: transparent;
						image: linear-gradient(to bottom, $blueLight, rgba($blueLight, 0));
					}
					height: $pad; // just show the ending "dot" no line
					padding-bottom: 0.5em;
				}
			}
		}

		&.seniorPosition, &.productDevelopment, &.digitalSpecialist{
			padding-left: $pad;

			&:after{ left: $pad / 2; }

			h3:before{
				@include pseudo;
				background-color: $blueLight;
				height: $stroke;
				left: ($dot / 2) - $stroke;
				top: 0.55em;
				width: $pad / 3;
			}

			@include breakpoint(SMALL){
				margin-left: 50%;
				padding-left: $pad / 2;
				width: 50%;

				h3:before{ display: none; }

				.timeline.left{
					margin-right: $pad / 2;
					right: 100%;
				}

				.timeline.horizontal{
					height: $stroke;
					right: 100%;
					top: 1em; // pull inline with header text
					width: $pad / 2;

					&.end:after{
						right: 0;
						bottom: - ($dot / 2) + $stroke;
					}
				}
			}
		}
	}

	.timeline{
		display: none; // hide the dynamic timeline

		@include breakpoint(SMALL){
			background-color: $blueLight;
			display: block; // show the dynamic timeline
			position: absolute;
			top: 0;
			width: $stroke;

			&.left, &.middle, &.right{
				height: 100%;
				padding-bottom: 1em; // pull end "dot" inline with start "dot"
				top: 0.5em; // pull inline with header text
			}

			&.start:before, &.end:after{ @include dotBase; }

			&.start:before{ top: 0; }

			&.end:after{ bottom: 0; }
		}
	}
}

/*
	    _       _          _  _     
	 __| | ___ | |_  __ _ (_)| | ___
	/ _` |/ -_)|  _|/ _` || || |(_-<
	\__,_|\___| \__|\__,_||_||_|/__/

*/

#details{
	color: $blueDark;	

	.title{ color: white; }

	address ul li{
		$width: 4em;
		color: $blueDark;
		display: block;
		float: left;
		padding-top: $width + 1.5em;
		position: relative;
		width: 100%;
		z-index: 100;

		//change the icons to be left aligned when stacked on top of one another
		@include breakpoint(SMALL){
			display: inline;
			width: auto;
		}

		a{
			color: inherit;
			text-decoration: none;

			.iconContainer{
				bottom: 2.5em;
				position: absolute;

				.svgIcon{
					bottom: 0;
					position: absolute;
					left: 0;
					width: 100%;

					&.active{ visibility: hidden; }
				}
			}
		}

		&.phone{
			margin-bottom: 2em;
			@include breakpoint(SMALL){ margin-bottom: 0; }

				a{
				margin-right: 0;
				@include breakpoint(SMALL){ margin-right: $pad / 2; }

				.iconContainer{
					$height: 27;
					$width: 50;
					$ratio: 9.5;
					height: $height / $ratio + em;
					width: $width / $ratio + em;

					@include breakpoint(SMALL){ left: 0.5em; }
				}
			}
		}

		&.email a .iconContainer{
			$height: 33;
			$width: 50;
			$ratio: 10.5;
			height: $height / $ratio + em;
			width: $width / $ratio + em;

			@include breakpoint(SMALL){ left: 2em; }
		}
	}
}

/*
	 _  _        _    _     _              
	| |(_) __ _ | |_ | |_  | |__  ___ __ __
	| || |/ _` || ' \|  _| | '_ \/ _ \\ \ /
	|_||_|\__, ||_||_|\__| |_.__/\___//_\_\
	      |___/                            

*/

#lightBox{
	$width: $pad / 4;
	$grad: lighten($blueLight, 20%);
	background-color: $lightBoxBg;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	// transform: translateZ(0); // GPU hack for scrollreveal.js to stop the background flickering when the elements transform in
	visibility: hidden;
	width: 100%;
	z-index: 9999;

	.top-ui{ top: 0; }

	.bottom-ui{ bottom: 0; }

	.top-ui, .bottom-ui{
		height: $pad / 1.5;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;

		@include breakpoint(MEDIUM){ height: $pad / 1.25; }
		@include breakpoint(LARGE){ height: $pad; }

		.center{
			height: 100%;
			position: relative;
		}

		.close, .previous, .next, .projectCurrent{
			color: white;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			.text{
				font: {
					size: 1.5em;
					weight: 100;
				}

				@include breakpoint(MEDIUM){ font-size: 1.7em; }
				@include breakpoint(LARGE){ font-size: 2em; }
			}
		}

		.close, .previous, .next{

			.text{
				visibility: hidden;

				@include breakpoint(SMALL){  visibility: inherit; }
			}

			.icon:before{
				font-size: 2.2em;

				@include breakpoint(MEDIUM){ font-size: 2.4em; }
				@include breakpoint(LARGE){ font-size: 2.75em; }
			}
		}

		.projectCurrent{
			left: 0;
			text-align: center;
			visibility: hidden;
			width: 100%;
			z-index: 0;

			@include breakpoint(SMALL){  visibility: inherit; }

			.dynamic{
				display: inline-block;
				position: relative;
			}
		}

		.previous, .next{
			z-index: 1; // layer ontop of the .projectCurrent element
		}

		.close, .next{
			right: $pad / 4;

			.text{ margin-right: $pad / 2.75; }
			.iconContainer{ right: 0; }
		}

		.previous{
			left: $pad / 4;

			.text{ margin-left: $pad / 3; }
			.iconContainer{ left: 0; }
		}

		a{ text-decoration: none; }

		.iconContainer{
			height: 100%;
			position: absolute;
			top: 0;
			width: 3em;

			.svgIcon{
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 100%;

				&.active{ visibility: hidden; }
			}
		}
	}

	.content{
		$gap: 0.35em;
		background: {
			size: contain;
			position: center center;
			repeat: no-repeat;
		};
		bottom: $pad / 1.5;
		margin-left: 5%;
		position: absolute;
		top: $pad / 1.5;
		width: 90%;

		@include breakpoint(MEDIUM){
			bottom: $pad / 1.25;
			top: $pad / 1.25;
		}

		@include breakpoint(LARGE){
			bottom: $pad;
			top: $pad;
		}

		// get rid of the next and previous buttons if there is only one image in the lighbox
		&[data-projectLength="1"] + .bottom-ui{

			& .previous, & .next{
				display: none;
			}
		}

		&[data-projectCurrent="travelHub"]{

			&[data-projectImage="1"]{
				background-image: url(../img/travel-hub/1-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-hub/1-landscape.jpg); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/travel-hub/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/travel-hub/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/travel-hub/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-hub/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="rateCard"]{

			&[data-projectImage="1"]{
				background-image: url(../img/rate-card/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/rate-card/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/rate-card/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/rate-card/2-landscape.jpg); }
			}
		}

		&[data-projectCurrent="nielsen"]{

			&[data-projectImage="1"]{
				background-image: url(../img/nielsen/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/nielsen/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/nielsen/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/nielsen/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/nielsen/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/nielsen/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="dealsSection"]{

			&[data-projectImage="1"]{
				background-image: url(../img/deals-section/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/deals-section/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/deals-section/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/deals-section/2-landscape.jpg); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/deals-section/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/deals-section/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="silverFernFarms"]{

			&[data-projectImage="1"]{
				background-image: url(../img/silver-fern-farms/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/silver-fern-farms/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/silver-fern-farms/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/silver-fern-farms/2-landscape.jpg); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/silver-fern-farms/3-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/silver-fern-farms/3-landscape.png); }
			}
		}

		&[data-projectCurrent="travelInfographic"]{

			&[data-projectImage="1"]{
				background-image: url(../img/travel-infographic/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/travel-infographic/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/travel-infographic/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-infographic/2-landscape.jpg); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/travel-infographic/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-infographic/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="stuffRedesign"]{

			&[data-projectImage="1"]{
				background-image: url(../img/stuff-redesign/1-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/stuff-redesign/1-landscape.jpg); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/stuff-redesign/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/stuff-redesign/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/stuff-redesign/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/stuff-redesign/3-landscape.jpg); }
			}

			&[data-projectImage="4"]{
				background-image: url(../img/stuff-redesign/4-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/stuff-redesign/4-landscape.jpg); }
			}
		}

		&[data-projectCurrent="mediaHub"]{

			&[data-projectImage="1"]{
				background-image: url(../img/media-hub/1-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/media-hub/1-landscape.jpg); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/media-hub/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/media-hub/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/media-hub/3-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/media-hub/3-landscape.png); }
			}

			&[data-projectImage="4"]{
				background-image: url(../img/media-hub/4-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/media-hub/4-landscape.jpg); }
			}
		}

		&[data-projectCurrent="tourismAustralia"]{

			&[data-projectImage="1"]{
				background-image: url(../img/tourism-australia/1-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/tourism-australia/1-landscape.jpg); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/tourism-australia/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/tourism-australia/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/tourism-australia/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/tourism-australia/3-landscape.jpg); }
			}
		}
	}
}

/*
	                _                  _          
	 _ __   ___  __| | ___  _ _  _ _  (_) ___ _ _ 
	| '  \ / _ \/ _` |/ -_)| '_|| ' \ | ||_ /| '_|
	|_|_|_|\___/\__,_|\___||_|  |_||_||_|/__||_|  

*/

// --- --- ---

.requireJavascript{
	color: $blueDark;
	display: none;
}

.no-js{
	.requireJavascript{ display: block; }
}

// --- --- ---

.no-borderradius{

	#myHistory .jobPosition{
		$dot: 15px; // the width of the timeline start and end "dot"

		&:after{
			background: {
				color: transparent;
				image: url(../img/history-dot.png);
				position: center center;
				repeat: no-repeat;
			}
			border: 0;
			height: $dot;
			right: - ($dot / 2);
			width: $dot;
		}
	}
}

.no-backgroundsize{

}

.no-boxshadow{

	.shadowTop, .shadowBottom{
		background: {
			position: center center;
			repeat: no-repeat;
		}

		&:before{
			display: none;
		}
	}

	.shadowTop{
		background-image: url(../img/no-boxshadow-top.png);
	}

	.shadowBottom{
		background-image: url(../img/no-boxshadow-bottom.png);
	}
}

.no-opacity{

}

.no-cssgradients{

	#about, #myHistory{
		background-color: rgba(white, 0.7);
	}

	#work .thumbSquare{

		.description:before{
			background-color: $blueDark;
			bottom: auto !important;
			height: 33%;
			top: 33% !important;
		}

		&[data-state="enter"] .description:before{
			background-color: $blueLight;
		}
	}

	.jobList .jobPosition{

		&.bma, &.digitalSpecialist{

			&:before{
				background-color: $blueLight;
			}

			@include breakpoint(SMALL){

				.timeline.middle, .timeline.left{
					background-color: $blueLight;
				}
			}
		}

		&:after{
			background-color: #d6f0ff;
		}

		& .timeline:before, & .timeline:after{
			background-color: #d6f0ff;
		}
	}
}

.no-rgba{

	#about, #myHistory{
		background-image: url(../img/white-50percent-tile.png);
	}

	#lightBox{
		background-image: url(../img/black-80percent-tile.png);

		.top-ui, .bottom-ui{
			background-image: url(../img/black-80percent-tile.png);
		}
	}
}

.no-csstransforms{

	#work{

		.description{
			top: 2.4em !important;
			transform: translateY(0) !important;
		}
	}

	#portraitBody, #portraitHands{
		left: auto;
		right: 0;
		transform: translateX(0);
	}

}

.no-svg{

	/* #portraitBody, #portraitHands{

		// this is taken care of via javascript / modernizer
	
	}*/

	body:before{
		background-image: url(../img/light-rays.png);
		opacity: 1 !important;
	}

}

.no-mediaqueries{

	.siteWrapper{ min-width: 1000px; }

	#tools{

		.thumbSquare{
			$width: 100% / 16;
			margin: 0 ($width / 2) 0 ($width / 2);
			width: $width;

			img{
				margin-left: 0;
				width: 100%;
			}
		}
	}

}

.lt-ie9{

	/* body{

		&:before, &:after{
			display: none;
		}
	} */
}

/*
            _       _   
 _ __  _ _ (_) _ _ | |_ 
| '_ \| '_|| || ' \|  _|
| .__/|_|  |_||_||_|\__|
|_|                     

*/

@media print {

	*{
		color: $blueDark;
	}

	#portraitBody, #portraitHands{ display: none; }

	header{
		height: auto;

		.hello{
			position: relative;
			width: auto;
		}
	}

	.shadowTop, .shadowBottom{ display: none; }

	#tools{
		padding: 0 !important;

		.thumbList{
			margin: 0;
		}

		.thumbSquare{
			$width: 100% / 16;
			margin: 0 ($width / 2) 0 ($width / 2);
			width: $width;

			img{
				margin-left: 0;
				width: 100%;
			}
		}
	}

	#work{

		.thumbList{
			margin: 0;

			.thumbSquare{
				height: auto !important;
			}
		}

		.description:before{
			background-color: $blueDark;
		}
	}

	#myHistory{
		padding: 0 !important;

		.jobList{
			padding: 0 !important;
		}
		
		.jobPosition{

			&:after{ border: 1px solid $blueDark; }
			&:before{ background-color: $blueDark; }
		}
	}

	#details{
		padding: 0 !important;

		address li{
			padding: 0 !important;
		}

		.title{
		
			h2{ padding-left: 0; }

			.iconContainer, .svgIcon{
				display: none;
			}
		}
	}

	*[data-scroll-reveal="enter left over 1s"]{
		opacity: 1 !important;
		transform: translateX(0) !important;
	}

	*[data-scroll-reveal="enter top over 1s"]{
		opacity: 1 !important;
		transform: translateY(0) !important;
	}
}