@import url(http://fonts.googleapis.com/css?family=Roboto:100,300,700);

@import "normalize";
@import "ht5bp";

// @font-face {
//   font-family: "Roboto";
//   src: url('../fnt/roboto-light-webfont.eot'); /* IE9 Compat Modes */
//   src: url('../fnt/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//        url('../fnt/roboto-light-webfont.woff') format('woff'), /* Modern Browsers */
//        url('../fnt/roboto-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
//        url('../fnt/roboto-light-webfont.svg#Roboto') format('svg'); /* Legacy iOS */
// }

*, *:after, *:before {
	box-sizing: border-box;
}

.clearFix:after {
	content: "";
	display: table;
	clear: both;
}

// color values
$gray: #787878; // generic
$grayD: darken($gray, 25%); // dark
$grayL: lighten($gray, 35%); // light

$blueLight: #78ccfe;
$blue: #538ed9;
$blueMedium: #325a8d;
$blueDark: #323e50;

$lightBoxBg: rgba(black, 0.8);

$divider : lighten($blueLight, 24%);

$shadowRegular: rgba(black, 0.25);
$shadowLight: rgba(black, 0.10);

// generic values
$ani: 0.25s;
$pad: 6em;
$icon: 2%;

@mixin breakpoint($point){

	@if $point == MICRO{
		@media only screen and (min-width: 23em){ @content; } // 370px
	}

	/*else if  $point == TINY{
		@media only screen and (min-width: 30em){ @content; } // 480px
	}*/

	@else if $point == SMALL{
		@media only screen and (min-width: 37.5em){ @content; } // 600px
	}

	@else if $point == MEDIUM{
		@media only screen and (min-width: 56.25em){ @content; } // 900px
	}

	/*@else if $point == BIG{
		@media only screen and (min-width: 69em){ @content; } // 1104px
	}*/

	@else if $point == LARGE{
		@media only screen and (min-width: 80em){ @content; } // 1280px (more than 1200px so that there is a slight amount of padding when the .center width becomes static at 1200px)
	}

}

@mixin vendorize($property, $value) {
	-webkit-#{$property}: $value;
	-moz-#{$property}: $value;
	-ms-#{$property}: $value;
	-o-#{$property}: $value;
	#{$property}: $value;
}

@mixin pseudo{
	content: "";
	display: block;
	position: absolute;
}

@mixin keyframes($aniName){

    @-webkit-keyframes $aniName{
        @content;
    }
    @-moz-keyframes $aniName{
        @content;
    }
    @-o-keyframes $aniName{
        @content;
    }
    @keyframes $aniName{
        @content;
    }
}


/*
	 _                   __            _   
	(_) __  ___  _ _    / _| ___  _ _ | |_ 
	| |/ _|/ _ \| ' \  |  _|/ _ \| ' \|  _|
	|_|\__|\___/|_||_| |_|  \___/|_||_|\__|

*/

@font-face {
	font-family: 'icomoon';
	src:url('../fnt/icomoon.eot?-npddoi');
	src:url('../fnt/icomoon.eot?#iefix-npddoi') format('embedded-opentype'),
		url('../fnt/icomoon.woff?-npddoi') format('woff'),
		url('../fnt/icomoon.ttf?-npddoi') format('truetype'),
		url('../fnt/icomoon.svg?-npddoi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin iconFont{
	display: block;
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	position: absolute;
	speak: none;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.title{
	color: $blueDark;
	position: relative;

	.icon, h2{
		display: inline-block;
	}

	.icon{
		$width: $pad / 4;
		height: $width;
		position: relative;
		width: $width + 1.75em;
	}

	.icon:before{
		@include iconFont;
		font-size: 2.75em;
		left: 0;
		top: -0.2em;
	}
}

#about .intro{

	&.design .title .icon:before{ content: "\e600"; }
	&.development .title .icon:before{ content: "\e601"; }
	&.experience .title .icon:before{ content: "\e602"; }
	&.employment .title .icon:before{ content: "\e603"; }
}

#work{

	.intro .title .icon:before{ content: "\e604"; }

	// WORK ICONS....
}

#myHistory{
	.intro .title .icon:before{ content: "\e605"; }
}

#details{

	.intro{
		&.contact .title .icon:before{ content: "\e606"; }
		&.references .title .icon:before{ content: "\e607"; }
	}

	.phone .icon{
		&.dormant:before{ content: "\e60f"; }
		&.active:before{ content: "\e610"; }
	}

	.email .icon{
		&.dormant:before{ content: "\e611"; }
		&.active:before{ content: "\e612"; }
	}
}

#lightbox{

	.close .icon{
		
		&.dormant:before{ content: "\e606"; }
		&.active:before{ content: "\e606"; }
	}

	.previous{
		
		// *** icon fonts...
		// .dormant{ background-position: ($icon * 37) 0; }
		// .active{ background-position: ($icon * 38) 0; }
	}

	.next{
		
		// *** icon fonts...
		// .dormant{ background-position: ($icon * 39) 0; }
		// .active{ background-position: ($icon * 40) 0; }
	}

	.icon-container{

		.icon{
			
			&:before{
				content: "\e612" !important;
			}
		}
	}
}

.icon-icon-view:before {
	content: "\e608";
}
.icon-icon-previous-dormant:before {
	content: "\e609";
}
.icon-icon-previous-active:before {
	content: "\e60a";
}
.icon-icon-next-dormant:before {
	content: "\e60b";
}
.icon-icon-next-active:before {
	content: "\e60c";
}
.icon-icon-close-dormant:before {
	content: "\e60d";
}
.icon-icon-close-active:before {
	content: "\e60e";
}

/*
	              _       
	 _ __   __ _ (_) _ _  
	| '  \ / _` || || ' \ 
	|_|_|_|\__,_||_||_||_|

*/

html, body{
	height: 100%; // is this messing up the vertical scrolling on some devices?
	width: 100%;
}

body{
	color: $blue;
	font: {
		family: "Roboto", sans-serif;
		weight: 300;
	}
}

h1, .h1{
	font: {
		color: white;
		size: 3.5em;
		weight: 100;
	}
	margin: 0;

	@include breakpoint(SMALL){
		font-size: 5em;
	}

	@include breakpoint(MEDIUM){
		font-size: 7em;
	}
}

h2, .h2{
	$width: $pad / 4;
	font: {
		size: 1.5em;
		weight: 100;
	}
	margin: 0;
	padding: 0;
	position: relative;

	@include breakpoint(SMALL){
		font-size: 2em;
	}
}

h3, .h3{
	color: $blueDark;
	font: {
		size: 1.5em;
		style: normal; // fixes the italx from the <address>
		weight: 100;
	}
	margin: 0;
}

h4, .h4{
	font: {
		size: 2em;
		weight: 100;
	}
	margin: 0;
}

.center{
	list-style-type: none;
	margin: 0 auto;
	padding: 0 5%;
	width: 100%;

	@include breakpoint(LARGE){
		padding: 0;
		width: 75em; // 1200px
	}
}

.oneWord{
	white-space: nowrap;
}

/*
	     _              _                  
	 ___| |_   __ _  __| | ___ __ __ __ ___
	(_-<| ' \ / _` |/ _` |/ _ \\ V  V /(_-<
	/__/|_||_|\__,_|\__,_|\___/ \_/\_/ /__/
	                                       
*/

// create the shadow modules
// both shadows are the same apart from their pseudo element locations
.shadowTop, .shadowBottom{
	height: $pad / 2;
	left: 0;
	overflow: hidden; // hides the pseudo element and only shows the box-shadow
	position: absolute;
	width: 100%;

	&:before{
		@include pseudo;
		border-radius: 50%;
		box-shadow: 0px 0px 30px 0px $shadowRegular;
		height: 100%;
		left: 0;
		width: 100%;
	}
}

.shadowTop:before{
	top: 100%; // push the pesudo element under the mask
}

.shadowBottom:before{
	bottom: 100%; // push the pesudo element above the mask
}

// position the shadows...
section, .shadowContainer{
	position: relative; // make these the anchor for the shadows to be positioned around
}

#work, #myHistory{

	& > .shadowBottom{
		top: 0;
	}
}

#about, #work{

	.shadowTop{
		bottom: 100%;
	}
}

#lightBox{

	.shadowTop{
		bottom: 0;	
	}

	.shadowBottom{
		top: 0;
	}
}

#work, #myHistory, #details{

	.shadowContainer .shadowTop{
		bottom: 100%;

		&:before{
			box-shadow: 0px 0px 20px 0px $shadowLight;
		}
	}
}

/*
	                 _               _  _   
	 _ __  ___  _ _ | |_  _ _  __ _ (_)| |_ 
	| '_ \/ _ \| '_||  _|| '_|/ _` || ||  _|
	| .__/\___/|_|   \__||_|  \__,_||_| \__|
	|_|                                     

*/

// portrait image blendng through two different modules (header & about)
// hands grabbing onto and overlaying the divider

$portraitHeightTiny: 40em; 
$portraitHeightSmall: 50em; 
$portraitHeightMedium: 70em; 
$portraitHeightLarge: 80em;

$bodytoHandsRatio: 0.125; // the relation between the portrait body and hands svg image heights

#portraitBody, #portraitHands{
	left: 0%;
	position: absolute;
	transform: translateX(0);
	width: auto;

	@include breakpoint(MICRO){
		left: 15%;
		transform: translateX(0);
	}

	@include breakpoint(SMALL){
		left: 25%;
		transform: translateX(0);
	}

	@include breakpoint(MEDIUM){
		left: 50%;
		transform: translateX(-50%);
	}
}

#portraitBody{
	height: $portraitHeightTiny;
	top: 0;

	@include breakpoint(SMALL){ height: $portraitHeightSmall; }
	@include breakpoint(MEDIUM){ height: $portraitHeightMedium; }
	@include breakpoint(LARGE){ height: $portraitHeightLarge; }
}

#portraitHands{
	height: $portraitHeightTiny * $bodytoHandsRatio;
	top: $portraitHeightTiny * $bodytoHandsRatio * -0.5;

	@include breakpoint(SMALL){
		height: $portraitHeightSmall * $bodytoHandsRatio;
		top: $portraitHeightSmall * $bodytoHandsRatio * -0.5;
	}
	@include breakpoint(MEDIUM){
		height: $portraitHeightMedium * $bodytoHandsRatio;
		top: $portraitHeightMedium * $bodytoHandsRatio * -0.5;
	}
	@include breakpoint(LARGE){
		height: $portraitHeightLarge * $bodytoHandsRatio;
		top: $portraitHeightLarge * $bodytoHandsRatio * -0.5;
	}
}

/*
           _                  _          _   _               _                                   _ 
 ___ __ __| |_  ___  _ _   __| | ___  __| | | |__  __ _  __ | |__ __ _  _ _  ___  _  _  _ _   __| |
/ -_)\ \ /|  _|/ -_)| ' \ / _` |/ -_)/ _` | | '_ \/ _` |/ _|| / // _` || '_|/ _ \| || || ' \ / _` |
\___|/_\_\ \__|\___||_||_|\__,_|\___|\__,_| |_.__/\__,_|\__||_\_\\__, ||_|  \___/ \_,_||_||_|\__,_|
                                                                 |___/                                                                
	
*/

.extendedBg{
	background-color: $blueLight;
	overflow-x: hidden;
	position: relative; // for portraitBody image to reference
	z-index: -1; // push below all other content (moves light rays to the back also)

	&:before, &:after{
		@include pseudo;
		background:{
			repeat: no-repeat;
			size: 400%;
		}
		height: 100%;
		opacity: 0.5;
		top: 0;
		width: 100%;
		z-index: -100; // move light rays under other DOM content

		@include breakpoint(MICRO){ background-size: 300%; }
		@include breakpoint(SMALL){ background-size: 150%; }

		@include breakpoint(MEDIUM){
			background-size: 100%;
			opacity: 0.75;
			
		}

		@include breakpoint(LARGE){ opacity: 1; }
	}

	&:before{
		background: {
			image: url(../img/dark-rays.svg);
			position: left top;
		}
		left: 0;
	}

	&:after{
		background: {
			image: url(../img/light-rays.svg);
			position: right top;
		}
		right: 0;
	}
}

header{
	height: $portraitHeightTiny / 2;
	position: relative; // for hello copy to reference

	@include breakpoint(SMALL){ height: $portraitHeightSmall / 2; }
	@include breakpoint(MEDIUM){ height: $portraitHeightMedium / 2; }
	@include breakpoint(LARGE){ height: $portraitHeightLarge / 2; }

	.hello{
		position: absolute;
		top: $pad / 3;
		transform: translateY(0);
		width: 45%;

		@include breakpoint(MICRO){
			top: 50%;
			transform: translateY(-50%);
			width: 40%;
		}

		@include breakpoint(SMALL){ width: 40%; }

		@include breakpoint(MEDIUM){ width: 33%; }

		h1{
			color: white;
		}

		p{
			color: $blueDark;
			font: {
				size: 1em;
				weight: 300;
			}
			margin: 0;

			@include breakpoint(SMALL){
				font: {
					size: 1.5em;
					weight: 100;
				}
			}
		}
	}
}

/*
	       _                _   
	 __ _ | |__  ___  _  _ | |_ 
	/ _` || '_ \/ _ \| || ||  _|
	\__,_||_.__/\___/ \_,_| \__|
                            
*/

#about{
	background-image: linear-gradient(to bottom, rgba(white, 0.5), rgba(white, 0.8));

	// *** icon fonts...
}

#about, #details{
	padding: $pad 0 ($pad / 2) 0;

	.intro{
		padding: 0 0 ($pad / 2) 0;

		@include breakpoint(MEDIUM){
			&:nth-child(odd){
				padding-right: $pad / 2;
			}
			&:nth-child(even){
				padding-left: $pad / 2;
			}
			float: left;
			width: 50%;
		}
	}
}

/*
	                   _   
	__ __ __ ___  _ _ | |__
	\ V  V // _ \| '_|| / /
	 \_/\_/ \___/|_|  |_\_\

*/

#work, #myHistory{
	padding: $pad 0 0 0;
}

#work{

	@mixin breakpoint($point){

		@if $point == twoSMALL{
			@media only screen and (min-width: 40em){ @content; }
		}

		@else if $point == twoBIG{
			@media only screen and (min-width: 50em){ @content; }
		}

		@else if $point == threeSMALL{
			@media only screen and (min-width: 70em){ @content; }
		}

		@else if $point == threeBIG{
			@media only screen and (min-width: 80em){ @content; }
		}

	}

	.thumbList{
		list-style-type: none;
		padding-bottom: $pad / 2;
		@include breakpoint(twoBIG){ padding-bottom: $pad / 3; }
		@include breakpoint(threeSMALL){ padding-bottom: $pad / 4; }
		@include breakpoint(threeBIG){ padding-bottom: $pad / 5; }

		.thumbSquare{
			cursor: pointer;
			float: left;
			position: relative;
			width: 100%;

			@include breakpoint(twoSMALL){ width: 50%; }
			@include breakpoint(threeSMALL){ width: 33.3%; }

			a{
				$width: 7em;
				color: $blueDark;
				display: block;
				height: 10em;
				text-decoration: none;
				width: 100%;

				.icon{
					display: inline-block;
					float: left;
					height: 100%;
					position: relative;
					width: $width + 2em;

					&:before{
						@include iconFont;
						// content: "\e615"; // set up via the icon values below...
						font-size: $width;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.description{
					color: inherit;
					display: block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);

					&:before{
						@include pseudo;
						background-image: linear-gradient(to top, rgba($blueDark, 0), $blueDark, rgba($blueDark, 0));
						bottom: -0.5em;
						left: 5.3em;
						top: - 0.5em;
						width: 1px;
					}
				}

				@include breakpoint(twoSMALL){

					.description{
						font: {
							size: 1em;
							weight: 300;
						}

						&:before{ left: $width + 1em; }
					}
				}

				@include breakpoint(twoBIG){
					height: 13em;
					
					.description{
						font: {
							size: 1.5em;
							weight: 100;
						}

						&:before{ left: 5.3em; }
					}
				}

				@include breakpoint(threeSMALL){
					height: 15em;

					.description{
						font: {
							size: 1em;
							weight: 300;
						}

						&:before{ left: $width + 1em; }
					}
				}

				@include breakpoint(threeBIG){
					height: 17em;
					.description{
						font: {
							size: 1.5em;
							weight: 100;
						}

						&:before{ left: 5.3em; }
					}
				}
			}

			@include breakpoint(twoSMALL){

				$gap: 2em;

				&:nth-child(2n + 1){
					padding: 0 $gap 0 0;
				}

				&:nth-child(2n + 2){
					padding-left: 0 0 0 $gap;
				}
			}

			// @media only screen and (min-width: 61em){ // 976px
			@include breakpoint(threeSMALL){

				$gap: 2.5em;

				&:nth-child(3n + 1){
					padding-right: 0 $gap 0 0;
				}

				&:nth-child(3n + 2){
					padding: 0 ($gap / 2);
				}

				&:nth-child(3n + 3){
					padding-left: 0 0 0 $gap;
				}
			}

			&[data-state="enter"] .description:before{
				background-image: linear-gradient(to top, rgba($blueLight, 0), $blueLight, rgba($blueLight, 0));
			}

			&[data-project="travelHub"] .icon:before{ content: "\e615"; }

			&[data-project="rateCard"] .icon:before{ content: "\e613"; }

			&[data-project="nielsen"] .icon:before{ content: "\e616"; }

			&[data-project="waterboy"] .icon:before{ content: "\e619"; }

			&[data-project="dealsSection"] .icon:before{ content: "\e615"; }

			&[data-project="silverFernFarms"] .icon:before{ content: "\e617"; }

			&[data-project="stuffRedesign"] .icon:before{ content: "\e614"; }

			&[data-project="travelInfographic"] .icon:before{ content: "\e615"; }

			&[data-project="smithCity"] .icon:before{ content: "\e618"; }
		}
	}
}

/*
	 _     _      _                   
	| |_  (_) ___| |_  ___  _ _  _  _ 
	| ' \ | |(_-<|  _|/ _ \| '_|| || |
	|_||_||_|/__/ \__|\___/|_|   \_, |
	                             |__/ 

*/

#myHistory{
	background-image: linear-gradient(to top, rgba(white, 0.25), rgba(white, 0.8));
	padding: $pad 0 0 0;

	// *** icon fonts...
}

.jobList{
	$dot: 15px; // the width of the timeline start and end "dot"
	$stroke: 1px; // the width of the timeline
	list-style-type: none;
	padding-top: $pad;
	padding-bottom: $pad / 2;

	// colors...
	.bma{
		
		&:after{
			background-color: #cbecff;
		}

		& .timeline:before, & .timeline:after{
			background-color: #d2edfe;
		}
	}

	.nzpc{
		
		&:after{
			background-color: #c5e9ff;
		}	

		& .timeline:before, & .timeline:after{
			background-color: #d2edfe;
		}
	}

	.freelance{
		
		&:after{
			background-color: #bde6ff;
		}

		& .timeline:before, & .timeline:after{
			background-color: #c6e9ff;
		}
	}

	.fairfax{
		
		&:after{
			background-color: #b6e3fe;
		}

		& .timeline:before, & .timeline:after{
			background-color: #bde6ff;
		}
	}

	.seniorPosition{
		
		&:after{
			background-color: #afe1fe;
		}

		& .timeline:before, & .timeline:after{
			background-color: #b5e3fe;
		}
	}

	.productDevelopment{
		
		&:after{
			background-color: #a8defe;
		}

		& .timeline:before, & .timeline:after{
			background-color: #ace0fe;
		}
	}

	.digitalSpecialist{
		
		&:after{
			background-color: #a1dcfe;
		}

		& .timeline:before, & .timeline:after{
			background-color: #a3dcfe;
		}
	}

	@mixin dotBase{
		@include pseudo;
		// background-color: $color; // colour is set through the class system above
		border: $stroke solid $blueLight;
		border-radius: 50%;
		height: $dot - ($stroke * 2);
		right: - ($dot / 2) + $stroke;
		width: $dot - ($stroke * 2);
	}

	.jobPosition{
		padding: 0 0 ($pad / 2) ($pad / 2);
		position: relative;

		&:before{
			@include pseudo;
			background-color: $blueLight;
			height: 120%;
			left: ($dot / 2) - $stroke;
			top: -40%;
			width: $stroke;
		}

		&:after{
			@include dotBase;
			left: 0;
			top: 0.5em; // pull inline with header text
		}

		@include breakpoint(SMALL){
			float: left;
			padding: 0 0 ($pad / 2) 0;
			position: relative;

			&:before, &:after{
				display: none;
			}
		}

		&.bma{

			&:before{
				background: {
					image: linear-gradient(to top, $blueLight, rgba($blueLight, 0));
					color: transparent;
				}
			}

			@include breakpoint(SMALL){
				padding-right: $pad / 2;
				text-align: right;
				width: 50%;

				.timeline.middle{
					background: {
						image: linear-gradient(to top, $blueLight, rgba($blueLight, 0));
						color: transparent;
					}
					height: $pad;
					right: 0;
					top: - $pad + 1.4em; // pull inline with header text
				}
			}
		}

		&.nzpc{

			@include breakpoint(SMALL){
				padding-left: $pad;
				width: 50%;

				.timeline.right{
					left: $pad / 2;
				}
			}
		}

		&.freelance{

			@include breakpoint(SMALL){
				margin-right: 50%;
				padding-right: $pad / 2;
				text-align: right;
				width: 50%;

				.timeline.middle{
					right: 0;
				}

				.timeline.right{
					left: 100%;
					margin-left: $pad / 2;
				}
			}
		}

		&.fairfax{

			@include breakpoint(SMALL){
				padding-right: $pad;
				text-align: right;
				width: 50%;

				.timeline.left{
					right: $pad / 2;
				}

				.timeline.middle{
					height: 0; // just show the ending "dot" no line
					right: 0;
				}

				.timeline.right{
					height: 0; // just show the ending "dot" no line
					left: 100%;
					margin-left: $pad / 2;
				}
			}
		}

		&.digitalSpecialist{

			&:before{
				background: {
					image: linear-gradient(to bottom, $blueLight, rgba($blueLight, 0));
					color: transparent;
				}
			}

			@include breakpoint(SMALL){
				.timeline.left{
					background: {
						color: transparent;
						image: linear-gradient(to bottom, $blueLight, rgba($blueLight, 0));
					}
					height: $pad; // just show the ending "dot" no line
					padding-bottom: 0.5em;
				}
			}
		}

		&.seniorPosition, &.productDevelopment, &.digitalSpecialist{
			padding-left: $pad;

			&:after{
				left: $pad / 2;
			}

			h3:before{
				@include pseudo;
				background-color: $blueLight;
				height: $stroke;
				left: ($dot / 2) - $stroke;
				top: 0.55em;
				width: $pad / 3;
			}

			@include breakpoint(SMALL){
				margin-left: 50%;
				padding-left: $pad / 2;
				width: 50%;

				h3:before{
					display: none;
				}

				.timeline.left{
					margin-right: $pad / 2;
					right: 100%;
				}

				.timeline.horizontal{
					height: $stroke;
					right: 100%;
					top: 1em; // pull inline with header text
					width: $pad / 2;

					&.end:after{
						right: 0;
						bottom: - ($dot / 2) + $stroke;
					}
				}
			}
		}
	}

	.timeline{
		display: none; // hide the dynamic timeline

		@include breakpoint(SMALL){
			background-color: $blueLight;
			display: block; // show the dynamic timeline
			position: absolute;
			top: 0;
			width: $stroke;

			&.left, &.middle, &.right{
				height: 100%;
				padding-bottom: 1em; // pull end "dot" inline with start "dot"
				top: 0.5em; // pull inline with header text
			}

			&.start:before, &.end:after{
				@include dotBase;
			}

			&.start:before{
				top: 0;
			}

			&.end:after{
				bottom: 0;
			}
		}
	}
}

/*
	    _       _          _  _     
	 __| | ___ | |_  __ _ (_)| | ___
	/ _` |/ -_)|  _|/ _` || || |(_-<
	\__,_|\___| \__|\__,_||_||_|/__/

*/

#details{
	color: $blueDark;

	&:before{
		background-position: left center;
	}

	&:after{
		background-position: right center;
	}	

	.title{
		color: white;
	}

	// *** icon fonts...

	address ul li{
		$width: 4em;
		color: $blueDark;
		display: block;
		float: left;
		padding-top: $width + 1.5em;
		position: relative;
		width: 100%;
		z-index: 100;

		//change the icons to be left aligned when stacked on top of one another
		@include breakpoint(SMALL){
			display: inline;
			width: auto;
		}

		a{
			color: inherit;
			text-decoration: none;

			.icon-container{
				position: absolute;
				height: $width;
				top: 0.75em;

				.icon{
					position: absolute;
					height: $width;
					left: 0;
					top: 0;
					width: $width;

					&.active, &.dormant{
						
						&:before{
							@include iconFont;
							color: white;
							font-size: 5em;
							height: 100%;
							left: 0;
							top: 0;
							width: 100%;
						}
					}

					&.active{
						visibility: hidden;
					}
				}
			}
		}

		&.phone a{
			margin-right: $pad / 2;

			.icon-container{
				@include breakpoint(SMALL){ left: 0.5em }
			}

			// *** icon fonts...
		}

		&.email a{

			.icon-container{
				@include breakpoint(SMALL){ left: 1.75em }
			}

			// *** icon fonts...
		}
	}
}

/*
	 _  _        _    _     _              
	| |(_) __ _ | |_ | |_  | |__  ___ __ __
	| || |/ _` || ' \|  _| | '_ \/ _ \\ \ /
	|_||_|\__, ||_||_|\__| |_.__/\___//_\_\
	      |___/                            

*/

#lightBox{
	$width: $pad / 4;
	$grad: lighten($blueLight, 20%);
	background-color: $lightBoxBg;
	bottom: $pad / 1.5;
	// display: none;
	// height: 100%;
	left: 0;
	position: fixed;
	top: $pad / 1.5;
	visibility: hidden;
	width: 100%;
	z-index: 9999;

	@include breakpoint(MEDIUM){
		bottom: $pad / 1.25;
		top: $pad / 1.25;
	}

	@include breakpoint(LARGE){
		bottom: $pad;
		top: $pad;
	}

	.top-ui{
		background-color: $lightBoxBg;
		// background-image: linear-gradient(to top, rgba($grad, 1), rgba($grad, 0.6));
		bottom: 100%
	}

	.bottom-ui{
		background-color: $lightBoxBg;
		// background-image: linear-gradient(to bottom, rgba($grad, 1), rgba($grad, 0.6));
		top: 100%;
	}

	.top-ui, .bottom-ui{
		height: $pad / 1.5;
		left: 0;
		position: absolute;
		width: 100%;
		z-index: 1;

		@include breakpoint(MEDIUM){ height: $pad / 1.25; }
		@include breakpoint(LARGE){ height: $pad; }

		.center{
			height: 100%;
			position: relative;
		}

		.close, .previous, .next, .projectCurrent{
			color: white;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);

			.text{
				font: {
					size: 1.5em;
					weight: 100;
				}

				@include breakpoint(MEDIUM){ font-size: 1.7em; }
				@include breakpoint(LARGE){ font-size: 2em; }
			}
		}

		.close, .previous, .next{

			.text{
				visibility: hidden;

				@include breakpoint(SMALL){  visibility: inherit; }

			}

			.icon:before{
				font-size: 2.2em;

				@include breakpoint(MEDIUM){ font-size: 2.4em; }
				@include breakpoint(LARGE){ font-size: 2.75em; }
			}
		}

		.projectCurrent{
			left: 0;
			text-align: center;
			width: 100%;
			z-index: 0;

			.dynamic{
				display: inline-block;
				position: relative;
			}
		}

		.previous, .next{
			z-index: 1; // layer ontop of the .projectCurrent element
		}

		.close, .next{
			right: $pad / 4;

			.text{ margin-right: $pad / 2.75; }
			.icon-container{
				right: 0;

				.icon:before{
					right: 0;
				}
			}
		}

		.previous{
			left: $pad / 4;

			.text{ margin-left: $pad / 3; }
			.icon-container{
				left: 0;

				.icon:before{
					left: 0;
				}
			}
		}

		a{
			text-decoration: none;
		}

		.icon-container{
			height: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 3em;

			.icon{
				height: 100%;
				position: absolute;
				width: 100%;

				&.active{ visibility: hidden; }

				&:before{
					@include iconFont;
					text-align: center;
					top: 0;
				}
			}
		}

		.close .icon{

			&.dormant:before{ content: "\e60d"; }
			&.active:before{ content: "\e60e"; }
		}

		.previous .icon{

			&.dormant:before{ content: "\e609"; }
			&.active:before{ content: "\e60a"; }	
		}

		.next .icon{

			&.dormant:before{ content: "\e60b"; }
			&.active:before{ content: "\e60c"; }
		}
	}

	.content{
		$gap: 0.35em;
		background: {
			// color: gold;
			size: contain;
			position: center center;
			repeat: no-repeat;
		};
		height: 100%;
		position: relative;
		width: 90%;

		// get rid of the next and previous buttons if there is only one image in the lighbox
		&[data-projectLength="1"] + .bottom-ui{

			& .previous, & .next{
				display: none;
			}
		}

		&[data-projectCurrent="travelHub"]{

			&[data-projectImage="1"]{
				background-image: url(../img/travel-hub/1-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-hub/1-landscape.jpg); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/travel-hub/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/travel-hub/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/travel-hub/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-hub/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="rateCard"]{

			&[data-projectImage="1"]{
				background-image: url(../img/rate-card/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/rate-card/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/rate-card/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/rate-card/2-landscape.jpg); }
			}
		}

		&[data-projectCurrent="nielsen"]{

			&[data-projectImage="1"]{
				background-image: url(../img/nielsen/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/nielsen/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/nielsen/2-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/nielsen/2-landscape.png); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/nielsen/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/nielsen/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="dealsSection"]{

			&[data-projectImage="1"]{
				background-image: url(../img/deals-section/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/deals-section/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/deals-section/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/deals-section/2-landscape.jpg); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/deals-section/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/deals-section/3-landscape.jpg); }
			}
		}

		&[data-projectCurrent="silverFernFarms"]{

			&[data-projectImage="1"]{
				background-image: url(../img/silver-fern-farms/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/silver-fern-farms/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/silver-fern-farms/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/silver-fern-farms/2-landscape.jpg); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/silver-fern-farms/3-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/silver-fern-farms/3-landscape.png); }
			}
		}

		&[data-projectCurrent="travelInfographic"]{

			&[data-projectImage="1"]{
				background-image: url(../img/travel-infographic/1-portrait.png);
				@include breakpoint(SMALL){ background-image: url(../img/travel-infographic/1-landscape.png); }
			}

			&[data-projectImage="2"]{
				background-image: url(../img/travel-infographic/2-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-infographic/2-landscape.jpg); }
			}

			&[data-projectImage="3"]{
				background-image: url(../img/travel-infographic/3-portrait.jpg);
				@include breakpoint(SMALL){ background-image: url(../img/travel-infographic/3-landscape.jpg); }
			}
		}
	}
}

/*
	                _                  _          
	 _ __   ___  __| | ___  _ _  _ _  (_) ___ _ _ 
	| '  \ / _ \/ _` |/ -_)| '_|| ' \ | ||_ /| '_|
	|_|_|_|\___/\__,_|\___||_|  |_||_||_|/__||_|  

*/

// --- --- ---

.requireJavascript{
	color: $blueDark;
	display: none;
}

.no-js{
	.requireJavascript{ display: block; }
}

// --- --- ---

.no-borderradius{

	#myHistory .jobPosition{
		$dot: 15px; // the width of the timeline start and end "dot"

		&:after{
			background: {
				color: transparent;
				image: url(../img/history-dot.png);
				position: center center;
				repeat: no-repeat;
			}
			border: 0;
			height: $dot;
			right: - ($dot / 2);
			width: $dot;
		}
	}
}

.no-backgroundsize{

}

.no-boxshadow{

	.shadowTop, .shadowBottom{
		background: {
			position: center center;
			repeat: no-repeat;
		}

		&:before{
			display: none;
		}
	}

	.shadowTop{
		background-image: url(../img/no-boxshadow-top.png);
	}

	.shadowBottom{
		background-image: url(../img/no-boxshadow-bottom.png);
	}
}

.no-opacity{

}

.no-cssgradients{

	#about, #myHistory{
		background-color: rgba(white, 0.7);
	}

	#work .description:before{
			background-color: $blueDark;
	}

	.jobList .jobPosition{

		&.bma, &.digitalSpecialist{

			&:before{
				background-color: $blueLight;
			}

			@include breakpoint(SMALL){

				.timeline.middle, .timeline.left{
					background-color: $blueLight;
				}
			}
		}

		&:after{
			background-color: #d6f0ff;
		}

		& .timeline:before, & .timeline:after{
			background-color: #d6f0ff;
		}
	}
}

.no-rgba{

	#about, #myHistory{
		background-image: url(../img/white-50percent-tile.png);
	}

	#lightBox{
		background-image: url(../img/black-80percent-tile.png);

		.top-ui, .bottom-ui{
			background-image: url(../img/black-80percent-tile.png);
		}
	}
}

.no-mediaquery{ // reset everything to its largest STATIC state

	h1{
		font-size: 7em;
	}

	$portraitHeightLargeStatic: 1280px;
	header{
		height: $portraitHeightLargeStatic / 2;

		.hello{
			top: 50%;
			transform: translateY(-50%);
			width: 33%;

			h1{
				color: white;
			}

			p{
				font: {
					size: 1.5em;
					weight: 100;
				}
			}
		}
	}

	#portraitBody{
		height: 1280px;
		left: 50%;
		margin-left: -350px;
		transform: translateX(0);
		width: 973px;
	}

	#portraitHands{
		height: $portraitHeightLargeStatic * $bodytoHandsRatio;
		top: $portraitHeightLargeStatic * $bodytoHandsRatio * -0.5;
		left: 50%;
		margin-left: -350px;
		transform: translateX(0);
		width: 973px;
	}

	.center{
		width: 75em; // 1200px
	}

	#about, #details{

		.intro{
			float: left;
			width: 50%;

			&.design, &.experience, &.contact{
				padding-right: $pad / 2;
			}

			&.development, &.employment, &.references{
				padding-left: $pad / 2;
			}
		}
	}

	#work{

		.thumbList{
			padding-bottom: $pad / 5;

			.thumbSquare{
				padding-right: 2em;
				width: 33.3%;

				a{
					height: 17em;

					.icon{
						height: 17em;

						&:before{
							top: 35%; // change below...
							transform: translateY(0);
						}
					}

					.description{
						font: {
							size: 1.5em;
							weight: 100;
						}
						// top: 0;
						transform: translateY(0);

						&:before{ left: 5.3em; }
					}
				}

				&[data-project="stuffRedesign"],
				&[data-project="travelInfographic"],
				&[data-project="smithCity"]
				{
					a .description{
						top: 45%;
					}
				}

				&[data-project="silverFernFarms"] a .description{
					top: 35%;
				}
			}
		}
	}

	#details address ul li{
		display: inline;
		width: auto;

		&.phone a .icon-container{
			left: 0.5em
		}

		&.email a .icon-container{
			left: 1.75em
		}
	}

	#lightBox{

		.top-ui, .bottom-ui{
			height: $pad;

			.center{
				height: 100%;
				position: relative;
			}

			.close, .previous, .next, .projectCurrent{
				top: 25px;
				transform: translateY(0);

				.text{
					font-size: 2em;
					visibility: inherit;
				}

				.icon:before{
					font-size: 2.75em;
					top: -20px;
				}
			}

			.projectCurrent{
				font-size: 1em;
			}
		}

		.content{
			min-height: 800px;
			width: 100%;

			&[data-projectCurrent="travelHub"]{
				&[data-projectImage="1"]{ background-image: url(../img/travel-hub/1-landscape.png); }
				&[data-projectImage="2"]{ background-image: url(../img/travel-hub/2-landscape.jpg); }
			}

			&[data-projectCurrent="rateCard"]{
				&[data-projectImage="1"]{ background-image: url(../img/rate-card/1-landscape.png); }
				&[data-projectImage="2"]{ background-image: url(../img/rate-card/2-landscape.jpg); }
			}

			&[data-projectCurrent="nielsen"]{
				&[data-projectImage="1"]{ background-image: url(../img/nielsen/1-landscape.png); }
				&[data-projectImage="2"]{ background-image: url(../img/nielsen/2-landscape.png); }
				&[data-projectImage="3"]{ background-image: url(../img/nielsen/3-landscape.jpg); }
			}

			&[data-projectCurrent="dealsSection"]{
				&[data-projectImage="1"]{ background-image: url(../img/deals-section/1-landscape.png); }
				&[data-projectImage="2"]{ background-image: url(../img/deals-section/2-landscape.jpg); }
				&[data-projectImage="3"]{ background-image: url(../img/deals-section/3-landscape.jpg); }
			}

			&[data-projectCurrent="silverFernFarms"]{
				&[data-projectImage="1"]{ background-image: url(../img/silver-fern-farms/1-landscape.png); }
				&[data-projectImage="2"]{ background-image: url(../img/silver-fern-farms/2-landscape.jpg); }
				&[data-projectImage="3"]{ background-image: url(../img/silver-fern-farms/3-landscape.png); }
			}

			&[data-projectCurrent="travelInfographic"]{
				&[data-projectImage="1"]{ background-image: url(../img/travel-infographic/1-landscape.png); }
				&[data-projectImage="2"]{ background-image: url(../img/travel-infographic/2-landscape.jpg); }
				&[data-projectImage="3"]{ background-image: url(../img/travel-infographic/3-landscape.jpg); }
			}
		}
	}
}

.no-csstransforms{

}

.no-svg{

	/* #portraitBody, #portraitHands{

		// this is taken care of via javascript / modernizer
	
	}*/

}

.lt-ie9{

	#lightBox{
		
		.icon-container{ display: none; }
		.close, .next{right: 0; }
		.previous{ left: 0; }
	}

	.extendedBg:before{ display: none; }
	.extendedBg:after{ display: none; }

	// this fixes the icon font rendering issue in IE8 where sometime the font will not load
	// the fix is to add an extra class to any icon font in the DOM that overides the "content" CSS stribute
	// then remove this class on document.ready via javascript to update the icon font reference correctly
	.ie8:before{ content: "" !important; }
}

.upgradeBrowser{
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;

	.whiteBg{ background-image: url(../img/white-80percent-tile.png); }
	.intro{ padding: $pad / 2; }
	.cta{ color: $blueDark; }
}

/*
            _       _   
 _ __  _ _ (_) _ _ | |_ 
| '_ \| '_|| || ' \|  _|
| .__/|_|  |_||_||_|\__|
|_|                     

*/

@media print {

	#portraitBody, #portraitHands{ display: none; }

	header{
		height: auto;

		.hello{
			position: relative;
			width: auto;
		}
	}

	.shadowTop, .shadowBottom{ display: none; }

	#work .description:before{
		background-color: #000;
	}

	#myHistory{
		
		.jobPosition{

			&:after{ border: 1px solid #000; }
			&:before{ background-color: #000; }
		}
	}
}


